[2013-03-21 22:27] drphilmarshall opened #1 "Observed catalogs will have positions in J2000 Ra, Dec"
We need to be able to cope with normal astronomy sky positions, and convert them to lightcone x,y coordinates in radians. I guess future simulated catalogs may also have object positions in mock RA and Dec too.

[2013-03-21 22:30] drphilmarshall opened #2 "Shouldn't Lightcones be circular?"
This may not be important, but I had imagined us working with Lightcones with circular field of view... How does the squareness of our cones affect our conclusions so far? Shouldn't we switch to circular fields?

[2013-03-21 22:31] drphilmarshall opened #3 "We don't have an arxiv number to refer people to!"
Let's fix this ASAP :-)

[2013-03-22 09:18] #2 closed, assigned to nobody

[2013-03-22 19:49] drphilmarshall opened #4 "README should be short and snappy"
Probably we just want to introduce the project and ourselves, mention the licence and then outline the workflow implied by the three main scripts (and their config file).

[2013-03-22 19:52] drphilmarshall opened #5 "Code docstrings could be interpreted as wiki pages!"
How hard can this be? I like the human-readable docstrings we have (as opposed to the sort of thing sphinx uses) - we just need a tool that strips them out and makes guthub wiki pages... This should probably be a standalone github project, however.

[2013-03-22 19:54] drphilmarshall opened #6 "Flowchart ought to be published somehow"
Can you scan in and email me that flowchart you drew, please Tom? It'd be great if it could be turned into a proper figure. Only so many hours in the day though.

[2013-03-22 19:56] drphilmarshall opened #7 "SHMR class is incomplete"
Functionality required: makeCDF, loadCDF, drawMstar, drawMhalo, others? Probably a plot function - at lower urgency.

[2013-03-22 21:01] #4 closed, assigned to drphilmarshall

[2013-03-22 21:02] drphilmarshall opened #8 "README should contain a link to Stefan's website"
If only I could assign this to Stefan himself!

[2013-03-22 21:45] #5 closed, assigned to drphilmarshall

[2013-03-23 11:23] drphilmarshall opened #9 "Lightcone needs a plot method"
Let's give lightcone objects the option to plot themselves - preferably as the 4-panel composite seen in Fig 1, athough theyll need to have finished furnishing themselves with Mhalos and kappah contributions first. Any given realisation should be plottable. I guess we might also consider having them optionally make other plots too - like distributions of kappah, cumulative distributions of kappah

[2013-03-23 21:37] drphilmarshall opened #10 "No Pangloss4!"
Pangloss4 has reappeared, containing Pangloss/distances.py and nothing else. The Pangloss4 directory needs removing. If its distances.py is the correct one to use, it needs to be moved to pangloss. Below is a suggested seequence of commands!

mv Pangloss4/Pangloss/distances.py  pangloss/
\rm -rf Pangloss4
git status
git commit -am "Moved to distances.py correct place, removed unwanted alternative

[2013-03-23 21:39] drphilmarshall opened #11 "calib/Fetch.csh cannot find necessary files"
Can you please fix your website so that the correct files are available, with names in accordance with calib/Fetch.csh? Thanks!

[2013-03-23 21:41] drphilmarshall opened #12 "Example analysis needs designing and implementing"
We need a sensible, plausible mock catalog, containig only observable quantities. Then, we need the example.config to represent a meaningful test analysis, with suitable numbers of calibration lightcones, PDF samples etc.

[2013-03-23 21:44] drphilmarshall opened #13 "README/wiki needs finishing off"
In particular we need:
- Bib details for the paper for the README and wiki
- Library function descriptions on the wiki

[2013-03-24 15:41] #10 closed, assigned to tcollett

[2013-03-24 15:41] #11 closed, assigned to tcollett

[2013-03-24 17:31] drphilmarshall opened #14 "SHMR needs ndinterp to run"
This is another of Matt's modules I think. We can check this in if he is OK with it - like we did with distances. Can you ask him please, Tom?

[2013-03-25 14:03] #7 closed, assigned to tcollett

[2013-03-25 22:54] #14 closed, assigned to tcollett

[2013-03-26 19:37] #9 closed, assigned to tcollett

[2013-03-26 19:39] drphilmarshall opened #15 "PDFs need to be able to plot themselves"
How's this going, Tom?

[2013-03-26 19:40] drphilmarshall opened #16 "Joint PDF for <kappah> and kappa should be a PDF object"
This will make plotting it easier: all the PDF plotting code should live in the PDF class!

[2013-03-27 00:49] #16 closed, assigned to tcollett

[2013-03-27 00:49] #15 closed, assigned to tcollett

[2013-03-27 00:57] #3 closed, assigned to tcollett

[2013-03-27 13:49] drphilmarshall opened #17 "kappah values too low in calibration lines of sight"
Possible causes:
- mis-reading of catalog file and/or mis-assignment of variables (config.py, io.py, lightcone.py, example.config) -> check Mhalo, Mstar values
- mis-use of variables in kappah calculation (lightcone.py) -> check propagation of variables

Are all halos'  kappah contributions too low, or just some? Smae question for Mstar, Mhalo etc.

[2013-04-01 10:50] #12 closed, assigned to tcollett

[2013-04-01 10:52] #13 closed, assigned to drphilmarshall

[2013-04-01 10:53] #1 closed, assigned to tcollett

[2013-04-04 14:04] #17 closed, assigned to nobody

[2015-03-05 20:19] drphilmarshall opened #18 "wiki/organisation updates: Stanford Data Science Initiative project, BORG project"
Hi all,

I'm working on getting the Pangloss project documentation in order, in preparation for some new work on fitting the mass model to weak lensing data. This project has some funding from Stanford, but it would be great to continue collaborating with you all.

There's a few things that need doing!

* [x] @rhw could you check over the [new wiki pages](https://github.com/drphilmarshall/Pangloss

[2015-03-05 20:23] drphilmarshall opened #19 "Weak lensing hierarchical inference"
Hey @tcollett, do you have comments/queries on the SDSI-sponsored weak lensing / hierarchical inference project described on the wiki [here](https://github.com/drphilmarshall/Pangloss/wiki/Inferring-the-Mass-Map-of-the-Observable-Universe-from-10-Billion-Galaxies)? If you have time to work on this with us in the coming year it would be great to carry on collaborating :-) At the very least, we have

[2015-03-05 20:25] drphilmarshall opened #20 "Brief BORG wiki documentation"
Hi Charlotte! Let's put up some minimal wiki documentation about the BORG project, so that people have another paper to read and cite. At the very least the [home page](https://github.com/drphilmarshall/Pangloss/wiki) needs updating with your project, and you might feel moved to make an additional wiki page besides.

(Linked from the #18 super-issue)

[2015-03-05 20:30] drphilmarshall opened #21 "Merge back in BORG code?"
The base repo and @charlottenosam 's fork are about to diverge, as we get started on the weak lensing project. Ideally we would merge the code used in the BORG project back into Pangloss, so that any improvements you made relating to magnification etc will remain useable by others forking from the base. @tcollett, @charlottenosam can you comment on this, please? The minimal solution to this issue

[2015-03-05 20:39] drphilmarshall opened #22 "WL/HB project paragraph for SDSI records"
Hi @rhw,

I'm thinking we could simply send our SDSI sponsors [this link](https://github.com/drphilmarshall/Pangloss/wiki/Inferring-the-Mass-Map-of-the-Observable-Universe-from-10-Billion-Galaxies) once the opening paragraph looks good enough. Feel free to edit, and then send - once it's gone you can close this issue :-)

Cheers

Phil

PS. This is a spin-off from #18

[2015-03-05 21:37] charlottenosam commented on #20
I've added a short blurb. Will work on a wiki page - when do you want this all done by?

[2015-03-05 21:45] charlottenosam commented on #21
My fork is a mess, but the real changes were just to add magnification calculations to lightcone.py and then I butchered Reconstruct.py to spit out p(mu).

I will tidy up, then:
- [ ] I propose merging lightcone.py to include the magnification terms
- [ ] Either:
  - [ ] _Simple_ Add my "Reconstruct mu" code as a stand-alone
  - [ ] _Harder_ Incorporate p(mu) output into Reconstruct.py e.g. it cou

[2015-03-05 22:07] drphilmarshall commented on #20
No rush - but it's nice to advertise your work! Wiki page should not take
long at all - you can start with just enough text to explain what you are
linking to on arxiv. If the code needs more explanation, there might be
need for some wiki documentation of it (and the README might need updating
of course). Thanks!

On Thu, Mar 5, 2015 at 1:37 PM, Charlotte Mason <notifications@github.com>
wrote:

[2015-03-06 00:13] charlottenosam commented on #21
Code I need to tidy and plan to merge:
- [x] **pdf.py** - just allow parameter name to be mu as well as kappa
- [ ] **lightcone.py** - including mu calculations
- [ ] **config.py** - make sure everything gets named correctly
- [ ] **Drill.py** - include a paired down version to get p(mu)s
- [ ] **Combine and rename MakePDF.py and PDF_z.py**
   - MakePDF.py makes P(mu) for lines of sight based on o

[2015-03-06 00:14] charlottenosam commented on #20
Made a wiki page, will add more docs when I've had a chance to sort the code out.

[2015-03-06 00:14] #20 closed

[2015-03-09 17:34] drphilmarshall commented on #21
Great, thanks Charlotte! I'd suggest that you name the last script
Magnifier.py, and then give it the options you need. If you can face it,
keeping the Reconstruct script as the only one that does that job, and that
takes mu or kappa options would be best (to minimze code proliferation)...

Thanks! :-)

On Thu, Mar 5, 2015 at 4:13 PM, Charlotte Mason <notifications@github.com>
wrote:

[2015-03-09 22:55] drphilmarshall commented on #20
Great!

On Thu, Mar 5, 2015 at 4:14 PM, Charlotte Mason <notifications@github.com>
wrote:

[2015-03-11 20:44] drphilmarshall commented on #19
Notes from skype call between @tcollett and @drphilmarshall:

* Rate-limiting step _might_ be the calculation of the shear at the lensed image positions: can this be sped up with look-up tables, and by separating out the mass parameters?
* H0LiCOW may not be able to wait for WL calibration, but better treatment of groups and clusters may already help, s.t. Pangloss could be applied to that dataset

[2015-03-11 20:49] drphilmarshall opened #23 "WL hierarchical inference theory"
We have a simple PGM for this problem, but now we need to:

* [x] Expand that into maths
* [x] Discuss!
* [ ] Translate that in to a latex document, that describes how each PDF might be handled (samples, weighting, etc)
* [ ] Agree on this
* [ ] Make some simple feasibility calculations to see how computationally intensive this inference will be, and how it could be made tractable (eg which parts

[2015-03-12 04:04] drphilmarshall commented on #19
Done!

[2015-03-12 04:04] #19 closed

[2015-03-12 20:46] #22 closed

[2015-03-12 20:46] drphilmarshall commented on #6
Flowchart is now "published" on the wiki!

[2015-03-12 20:46] #6 closed

[2015-03-13 19:22] charlottenosam commented on #21
Done!

I've kept Magnifier.py separate from Reconstruct to make my life easier. It contains the mechanism to match observed fields with simulated lightcones by overdensity. There are reasonable docs and I'll submit a pull request now.

[2015-03-13 19:22] #21 closed

[2015-03-13 19:50] drphilmarshall commented on #21
Bravo! Thanks Charlotte :-)

On Fri, Mar 13, 2015 at 12:22 PM, Charlotte Mason <notifications@github.com>
wrote:

[2015-03-17 17:37] drphilmarshall opened #25 "Literature review"
There's a lot of relevant literature out there! We could try and write an introduction as we go, reviewing the literature around large scale density field modeling.

[2015-03-17 17:42] drphilmarshall commented on #25
OK, our `references.bib` file now contains a starter set of papers, with very brief notes about why each paper might be interesting. Start at line 3129, or search for `Weak Lensing and Hierarchical Inference`

[2015-04-15 21:16] drphilmarshall commented on #23
Hi!

I have worked through the probability theory for our enormous inference: no galaxy clustering or clusters yet, "just" stellar masses, photo-zs and weak lensing, but still, its a start. [Here are my notes](https://www.dropbox.com/s/t1tm1czxr5ndcgq/Joint%20Hierarchical%20Inference%20of%20the%20Galaxy-Halo%20Connection%20and%20Cosmology%20from%20Photometric%20and%20Weak%20Lensing%20Survey%20Data

[2015-04-16 17:02] drphilmarshall opened #26 "Calculations in databases?"
While we discuss the details of the inference in #23 , I think it's clear that to predict weak lensing data and evaluate our log likelihood we will need to be computing the lensing effects (gamma, kappa) of ~100s of halos on each source, for 10^5 sources per sq deg in under a second (to keep our lives sane). I started wondering about fast methods to do this computation in parallel like Map/Reduce

[2015-04-16 21:00] drphilmarshall commented on #26
@beckermr writes...

[2015-04-16 21:02] drphilmarshall commented on #26
OK: I will:

* [ ] try to distil the pseudocode of what we need to do into a wiki page, when I post the maths,
* [ ] show it to Jacek.

[2015-04-16 21:06] mrbecker commented on #26
please remove my email!

[2015-04-16 21:22] beckermr commented on #26
Sorry mrbecker! Phil meant to assign me, beckermr!

[2015-04-16 21:23] drphilmarshall commented on #26
Removing you now, @mrbecker. Enjoy the quiet life! :-)

[2015-04-17 05:16] beckermr commented on #23
@tcollett Some discussion of this happened on the GFC KIPAC slack. Changes coming...

[2015-04-17 06:01] drphilmarshall commented on #23
OK, link is replaced with better PDF. The intuition that we need a sum over sample catalogs is still good, but now the maths actually backs that up. Good catch, @beckermr!
In these [new notes](https://www.dropbox.com/home/Public?preview=Joint+Hierarchical+Inference+of+the+Galaxy-Halo+Connection+and+Cosmology+from+Photometric+and+Weak+Lensing+Survey+Data%2C+Spring+2015.pdf) you will find the follow

[2015-04-20 10:58] drphilmarshall commented on #23
@tcollett Here are some more notes, from an offline discussion with @beckermr:

* The PGM w/lensing looks funny, because the j subscript somehow implies independence when you have a single box representing each member of the set of galaxies. We probably want to use vector notation to signify "all halos" and then discuss in words the identification of a particular subset of foreground halos for eac

[2015-04-23 17:19] tcollett commented on #23
Ok, I have been thinking about this; there are too many things to write in
an email. I'll talk to Phil next week.

It seems to me that the probability theory isn't too bad, but the
computational issues are potentially very hard. It seems vital to me that
we build a highly simplistic toy model with which to test the inference
problem, and then see how the feasibility scales as we make the parameter

[2015-04-23 17:23] mrbecker commented on #23
please remove me!

Sincerely,

Rob
Robert Becker | www.RobertBecker.com <http://www.robertbecker.com/>
Animation | Digital Rendering | Watercolor
925.254.4234 | 53 Parklane Drive, Orinda, CA 94563

[2015-04-23 18:58] drphilmarshall commented on #23
Sorry @mrbecker! I removed you from the repo, but I now see that you are still on this thread - and I can't see how to take you off. So, everyone: I am going to lock this issue, and start some new ones based on the discussion so far. Thanks for all your input!

[2015-04-23 18:58] #23 closed

[2015-04-23 18:59] drphilmarshall opened #27 "Write up HB theory in a latex document"
Because latex math is easier to read than ipad notes.

[2015-04-23 18:59] drphilmarshall commented on #27
See #23 for the notes themselves!

[2015-04-23 19:02] drphilmarshall opened #28 "Simplest possible toy problem?"
@tcollett suggested in #23 that we formulate a toy problem that we can use to explore the computational feasibility further. This thread is for discussing that idea.

[2015-04-23 20:31] tcollett commented on #28
If all goes(very) well this should be your summer student's project.

On 23 April 2015 at 20:02, Phil Marshall <notifications@github.com> wrote:

[2015-04-23 20:35] drphilmarshall commented on #28
Yep: and Spencer (@sweverett) is already following along! Let's make a plan next week and run it past him and @beckermr on this thread.

[2015-04-23 20:41] mrbecker commented on #28
you have the wrong becker on this, please remove me from everything!

Sincerely,

Rob
Robert Becker | www.RobertBecker.com <http://www.robertbecker.com/>
Animation | Digital Rendering | Watercolor
925.254.4234 | 53 Parklane Drive, Orinda, CA 94563

[2015-04-23 21:12] drphilmarshall commented on #28
@mrbecker: OK, I understand now: GitHub made you a "watcher" when I first mistakenly added you as a collaborator, and now, even though I have removed you from the collaborator list, you are still watching the repository! I think that if you now go to the top of this page and click the gray button marked "unwatch", you should (at last) no longer receive emails from us. Good luck, and hopefully, far

[2015-04-23 21:17] mrbecker commented on #28
I do not have an account on this site, you will have to remove me please.

Sincerely,

Rob
Robert Becker | www.RobertBecker.com <http://www.robertbecker.com/>
Animation | Digital Rendering | Watercolor
925.254.4234 | 53 Parklane Drive, Orinda, CA 94563

[2015-04-23 22:47] drphilmarshall commented on #28
Rob, I can't! You need to sign into github.com with username "mrbecker", and either unwatch this repo or delete your account. If you never made an account, and your email address is being used in error, we need to ask GitHub to help us sort this out.

It looks like the account was created on Sept 15, 2011 - and there has been no activity on it since then, until I mistakenly added you to our projec

[2015-04-23 22:53] drphilmarshall commented on #28
I've alerted GitHub to this problem, hopefully they'll come and remove your email address soon. Apologies again!

[2015-04-23 23:34] drphilmarshall commented on #28
Hi again,

As I suspected, GitHub need you to contact them directly to get the mrbecker account deleted - please see their message below. Try following this link: https://github.com/contact

Could you please ask that user to contact us directly if they need help to stop receiving those notifications. We're only able to discuss account information with the owner of the account.

Thanks!
Jess

[2015-05-04 17:02] #28 closed

[2015-05-12 17:39] drphilmarshall opened #29 "Summer 2015 project planning"
We need an outline of a summer project for @sweverett . Let's make a wiki page, and some related issues.

[2015-05-12 18:29] drphilmarshall commented on #29
OK, [here's a wiki page](https://github.com/drphilmarshall/Pangloss/wiki/Simple-Halo-Models-for-Small-Weak-Lensing-Datasets) for us to log our plans, and later, links to sub-pages with progress notes, results etc. Simple halo models for small weak lensing datasets!

[2015-05-12 18:32] drphilmarshall commented on #29
We'll need a few things in order before we start this, mainly a demo notebook for Pangloss, that can be copied and adapted into a weak lensing demo (which might be our primary product of the summer, enabling us to report to the rest of the H0LiCOW group on our prospects). I will issue this at #30.

[2015-05-12 18:33] drphilmarshall opened #30 "Demo notebook"
Pangloss needs a demo notebook, showing its basic operation and making some explanatory plots. This could then be copied and extended into a Pangloss WL demo by @sweverett (as suggested in #29)

[2015-05-20 14:46] drphilmarshall opened #31 "Switch from atpy, pyfits to astropy"

[2015-05-20 16:28] cdfassnacht commented on #31
From my personal code, I have lots of instances of the following, just in
case I'm using an older version of python:

try:
   from astropy.io import fits as pf
except:
   import pyfits as pf

On Wed, May 20, 2015 at 7:46 AM, Phil Marshall <notifications@github.com>
wrote:

--
Chris Fassnacht
Professor, Physics Dept.
UC Davis
1 Shields Ave.
Davis, CA 95616
+1-530-554-2600

[2015-06-23 02:06] #18 closed

[2015-06-23 02:07] #8 closed

[2015-06-23 17:32] #29 closed

[2015-06-23 17:32] #25 closed

[2015-06-23 23:39] sweverett opened #33 "Kappamaps should be able to plot themselves"
Add a method to the class, then demo it

[2015-06-24 20:52] drphilmarshall commented on #33
Let's label the axes in physical coords, invert the grayscale and clean up the Demo - can you post the URL of the notebook here when you close this issue, please? Thanks @sweverett ! :-)

[2015-06-24 20:57] drphilmarshall opened #34 "Shearmaps"
Let's sub-class the Kappamap and enable commands like:

MSgamma = pangloss.Shearmap('gamma1.fits','gamma2.fits')
gamma_hilbert = MSgamma.at(x,y)

Tricky things will be: having the superclass understand what to do with two files, then two maps.
And I guess Shearmaps should be able to plot themselves, with red sticks plotted at the vertices of some downsampled grid. (Also sub-plotting, we'll need th

[2015-06-25 17:39] sweverett commented on #33
Kappamap is now running correctly. The demo for using the class and plotting the maps is at:

https://github.com/drphilmarshall/Pangloss/blob/wl/Demo.ipynb

[2015-06-25 17:41] #33 closed

[2015-06-29 16:28] drphilmarshall opened #35 "Catalog class"
We need a bit more flexibility with our catalogs. We're going to want to start generating catalogs of weakly lensed background objects from scratch, and then compare them with catalogs of background objects weakly lensed by catalogs of foreground objects - and then at some point we'll need to cope with Matt's Dark Sky data rather than Stefan's Millennium Simulation data. So, let's put all this in

[2015-06-30 00:10] sweverett opened #36 "Single demo with Kappamap and Shearmap overlay"
We should combine all map demos into a single demo that explains how to use and plot Kappamaps and Shearmaps, and then overlay one with the other to visually check if the shear and convergence maps align correctly.

[2015-06-30 00:14] #34 closed

[2015-06-30 02:14] drphilmarshall opened #37 "example/example_catalog.txt is missing?"
@tcollett, is the repo missing a file? I am running the example, which runs fine (in the wl branch, using astropy tables!) until line 239 of `Drill.py`

[2015-06-30 07:00] tcollett commented on #37
Did you already do

cd calib
Fetch.csh

?

On 30 June 2015 at 03:14, Phil Marshall notifications@github.com wrote:

[2015-06-30 15:15] drphilmarshall commented on #37
Yes, I ran `Fetch.csh` and it completed fine. I see that it contains the following line:

[code]

But the `example.config` file wants

[code]

I guess the right thing to do is to extend `Fetch.csh` to grab this file and put it in the example folder? If it's not too big you could also just check it in to the git repo.

[2015-06-30 16:33] tcollett commented on #37
So you've got the data, but it's in the wrong folder?

On 30 June 2015 at 16:15, Phil Marshall notifications@github.com wrote:

[2015-06-30 17:17] drphilmarshall commented on #37
OK - I'll try using Millennium/catalog_example.txt as
example/example_catalog.txt,
and if it works I'll edit the example.config. Thanks Tom!

On Tue, Jun 30, 2015 at 9:33 AM, tcollett notifications@github.com wrote:

[2015-06-30 20:34] tcollett commented on #37
No worries. Did it work?
On 30 Jun 2015 18:17, "Phil Marshall" notifications@github.com wrote:

[2015-07-01 01:19] sweverett opened #38 "Are Shearmaps being plotted correctly?"
The overlay plots of the convergence and shear maps look to be aligned, but the shear sticks don't appear to be plotting in the correct orientation. Here is an example image:
![gamma_normal](https://cloud.githubusercontent.com/assets/8742179/8445571/c3926216-1f53-11e5-83c2-f42fb9652122.png)
One possible fix could be that the .gamma_1 and .gamma_2 files are in the opposite order of how I am using t

[2015-07-01 03:37] sweverett commented on #38
@drphilmarshall: I found an alternate definition of the shear for a polar coordinate frame centred at a cluster (which is what I'm pretty sure we're doing) at the bottom of [this page](http://gravitationallensing.pbworks.com/w/page/15553259/Weak%20Lensing#TangentialShear). I made the change to Shearmaps and got the following image:

![gamma_neg](https://cloud.githubusercontent.com/assets/8742179/8

[2015-07-01 05:49] drphilmarshall commented on #38
The tangential shear is not what we're after for this application - we just
need to visualize the shear field that we read in. I suspect a bug with the
shear stick angles...

On Tue, Jun 30, 2015 at 8:37 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-01 06:07] drphilmarshall commented on #37
Almost: `Drill.py` gives this message:

So I'm thinking that `calib/Millennium/catalog_example.txt` is not the right catalog to be used as an example `ObservedCatalog`... I'll put the code that I'm running in a separate branch for you to play around with - watch out though, we've switched to astropy now so you'll need to have that installed.

[2015-07-01 06:15] drphilmarshall commented on #37
Actually, scratch that - too many files have been changed! If you want to try reproducing my result, please checkout the `wl` branch and edit there. Thanks @tcollett !

[2015-07-01 15:30] drphilmarshall commented on #31
OK, we are now filly switched to astropy I think - the example drilling exercise seems to work well, so I'm closing this for now.

[2015-07-01 15:30] #31 closed

[2015-07-01 15:37] #30 closed

[2015-07-01 15:44] drphilmarshall opened #39 "ipython notebooks do not open: "Unreadable Notebook global name 'NBFormatError' is not defined""
I think this is my problem: `ipython --version` returns 2.2, and from some googling it looks like ipython made a breaking change at version 3.0 that causes this error. I am updating my anaconda ipython by doing:

[code]

[2015-07-01 15:46] drphilmarshall commented on #39
Good, that fixed it - I am now on ipython version 3.2 and apparently using jupyter (not ipython) notebooks, the same as @sweverett.

[2015-07-01 15:46] #39 closed, assigned to drphilmarshall

[2015-07-01 16:57] drphilmarshall commented on #39
I also had to

[code]

[2015-07-01 17:00] drphilmarshall commented on #36
This demo looks good to me: I'm tidying it up a little (including fixing the import statement) and will move this demo and the others into their own folders. @sweverett, you'll need to set a `PANGLOSS_DIR` environment variable in your .bashrc file so that `ipython` knows where to look for the `pangloss` module:

[code]

Nice work!

[2015-07-01 17:35] #36 closed, assigned to sweverett

[2015-07-01 17:37] drphilmarshall commented on #38
Next step: check alignment of foreground galaxy/halo catalogs and background maps for more transpose issues... See #40!

[2015-07-01 17:37] #38 closed, assigned to sweverett

[2015-07-01 17:44] drphilmarshall opened #40 "Alignment of foreground galaxy/halo catalogs and convergence/shear maps"
Let's plot a piece of the foreground catalog on top of the convergence map. The clusters of galaxies had better lie on top of the kappa map density peaks! Take a look at how the `Lightcone` objects plot themselves - some of those functions might be able to be extracted into separate `def`s and re-used from the `ForegroundCatalog` class (as well as from the `Lightcone` class).

[2015-07-01 18:18] drphilmarshall opened #41 "WLMaps need to be able to plot themselves in world coordinates"
This means we need a method to parse Stefan's filenames to extract the world coordinates (Ra, Dec) of the map field center. Since all his maps have the same size and pixel scale, we can carry on hard coding these in the `read_binary_data()` method. When we start working with other sims we'll add more io methods anyway.

[2015-07-01 18:24] drphilmarshall opened #42 "Catalogs need to be able to convert physical positions to world coordinates"
This is to enable meaningful, general overlays of catalog objects on `WLMaps`.
The positions in Stefan's catalogs are in physical coordinates relative to the corresponding weak lensing maps - so we'll need to use the right map to do the catalog coordinate transformation.

For reference: each field (map) is 4 by 4 degrees, and each catalog is a 1x1 deg patch in that field. In the catalog filename G

[2015-07-01 18:27] drphilmarshall opened #43 "Two slide update for WL group meeting"
This is also the Elevator Pitch rehearsal! You'll need to remind the group what our project is, before giving them an update.

[2015-07-02 00:27] sweverett commented on #41
One big issue has come up by converting everything to world coordinates. Since we decided to set the origin of our system at the center of the (0,0)  map, the right ascension value switches from 0 to 360 in between only one bin. While this is correct, I don't think the 'image2world()' and 'world2image()' methods were designed with this in mind. This is resulting in negative pixel locations when tr

[2015-07-02 01:29] drphilmarshall commented on #41
I guess if world2image() ever returns a negative pixel number in the
i-direction (parallel to RA), we should undo the 360 deg offset and try
again. Or is there another problem as well?

On Wed, Jul 1, 2015 at 5:27 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-02 01:43] sweverett commented on #41
You're right, that fixed it. I'll change 'world' to be the default now.

[2015-07-02 15:40] #41 closed, assigned to sweverett

[2015-07-02 17:10] #35 closed

[2015-07-02 22:32] sweverett opened #44 "Create ForegroundCatalog class"
We need to create a subclass of `Catalog` that will contain the foreground galaxies contained in each map and their respective properties such as their magnitude, redshift, and mass. `ForegroundCatalog`'s should be able to plot themselves as scatter plots in world coordinates with the size of the point optionally dependent on either magnitude or mass. The class should also be able to count the num

[2015-07-06 23:29] #44 closed, assigned to sweverett

[2015-07-06 23:34] sweverett commented on #42
All coordinate transformations and plot overlays of galaxy catalogs and maps appear to be working correctly. However, I'm going to keep this issue open until I have access to data sets not in the (0,0) corner of the grid, as there may be bugs that don't appear until sets not in the origin grid are used.

[2015-07-06 23:51] sweverett opened #45 "Create BackgroundCatalog class"
We need to create another subclass of `Catalog` that contains galaxy catalog information for the background galaxy sources that are weakly lensed by the foreground galaxies. Each `BackgroundCatalog` object should be able to generate N galaxies that are uniformly distributed in an inputted domain, along with uniformly distributed ellipticities and intrinsic shapes. Each source should be at a redshi

[2015-07-07 06:41] tcollett commented on #45
Quick comment: just remember that in real data the background objects will
often be foreground objects as well. i.e. a source at z=1 will be lensed
and also be a lens for a source at higher redshift. Make sure you build
infrastructure that can cope with this.

On 7 July 2015 at 00:51, Spencer Everett notifications@github.com wrote:

[2015-07-07 16:29] drphilmarshall commented on #45
Good point, thanks Tom. @sweverett can you please have the generate method write each background galaxy redshift to the catalog as a column for this reason? Also, let's check the catalog after reading in, it must have a redshift column (otherwise we can't compute shears correctly).

Interestingly, Stefan's foreground catalogs are also background catalogs, in the sense that his mock galaxies have l

[2015-07-08 02:18] drphilmarshall commented on #40
Hmm. I managed to break the [foreground overlay demo](https://github.com/drphilmarshall/Pangloss/blob/wl/demos/ForegroundGalaxyOverlay.ipynb), the maps no longer plot. But, the axes should be more useable now, and the importing of the pangloss module is more stable (`import pangloss` works better than `from pangloss import *`, in general).

[2015-07-08 06:21] drphilmarshall commented on #40
PS. Despite the good work of that last commit, the following lines give a broken plot - try it out, @sweverett ... I left the demo in the state that its in because I think it's helpful for thinking about what we want the shear map overlay to do...

[code]

[2015-07-08 19:52] sweverett commented on #40
All of the map overlay sub-plotting bugs seem to be fixed. The [foreground overlay demo](https://github.com/drphilmarshall/Pangloss/blob/wl/demos/ForegroundGalaxyOverlay.ipynb) shows a few examples of how it can be used as originally intended. Moving on to overlaying the catalogs now.

[2015-07-08 20:14] drphilmarshall commented on #40
Excellent! :-)

On Wed, Jul 8, 2015 at 12:52 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-08 20:27] sweverett commented on #40
Everything finally seems to be working! Here's a nice subplot shown in the updated [foreground overlay demo](https://github.com/drphilmarshall/Pangloss/blob/wl/demos/ForegroundGalaxyOverlay.ipynb), with only some of the most massive galaxies plotted:
![total_overlay](https://cloud.githubusercontent.com/assets/8742179/8581317/d17eca8c-2574-11e5-92a6-dec19e9445ae.png)

[2015-07-08 20:28] #40 closed, assigned to sweverett

[2015-07-08 21:08] drphilmarshall commented on #40
Great! Looking closely at the foreground galaxy orange circles, I wonder if
they might be half a `self.PIXSCALE` off from the kappa map, what do you
think? Not a huge problem, since in the end we will use the `*map.at()`
function to interpolate from the maps to the world position of each source,
but maybe worth a quick look to see if you can find it.

On Wed, Jul 8, 2015 at 1:28 PM, Spencer Everet

[2015-07-08 22:11] sweverett commented on #40
Do you say that because all of the convergence peaks seem a bit above the center of the orange circles? I think this might just be for this subregion. For example, I changed the subplot to a different region and got
![aligned](https://cloud.githubusercontent.com/assets/8742179/8583263/0e8697a0-2581-11e5-81c8-1bab19873628.png)
which looks aligned. I redid the image in the previous comment by shifti

[2015-07-08 23:25] drphilmarshall commented on #40
OK, fair enough! Let's assume this is good enough for our purposes. Thanks!

On Wed, Jul 8, 2015 at 3:11 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-10 06:45] sweverett commented on #45
A lot of progress has been made with `BackgroundCatalog`, but plotting the final result isn't very convincing. In the subplot below, the yellow circles are the most massive foreground galaxies, the blue ellipses are the background sources with their intrinsic shapes, and the green ellipses are the lensed background sources.
![lensed_galaxies](https://cloud.githubusercontent.com/assets/8742179/8613

[2015-07-10 14:54] drphilmarshall commented on #45
Great plot! Lensing bug should be easy to find - I'll take a look at the code too.

[2015-07-10 20:18] sweverett opened #46 "Background catalogs should be able to plot themselves as sticks"
`BackgroundCatalog`s can currently plot themselves either as scatter plots or as ellipses. It may be easier to see the weak lensing if we plot just the background galaxies' intrinsic and lensed ellipticities as sticks, similar to shear maps. However, `quiver()` likely won't work anymore as the galaxies aren't in a uniform grid. We'll look into drawing the sticks manually, and converting all of the

[2015-07-10 20:21] sweverett opened #47 "Fix BackgroundCatalog subplots"
There appears to be a minor bug with reading in the current plot information when trying to overlay `BackgroundCatalog`s over maps and foreground objects when the subplot isn't square. This should be fixed to work in the same way as overlaying `ForegroundCatalog`s.

[2015-07-10 20:24] sweverett opened #48 "Shearmap sampling"
There is a strange size of subplots where `Shearmap`s are not plotting correctly. When the number of pixels on an axis are ~40-200,  it looks like the bin sampling is calculated incorrectly and wrapping around to the other side of the image. We need to look back in `Shearmap` to find a better way to sample shear stick locations.

[2015-07-10 20:24] #43 closed, assigned to sweverett

[2015-07-10 20:27] sweverett opened #49 "Alignment of foreground galaxies and maps"
There appears to be a small alignment issue with `ForegroundCatalog`s and the `WLMap`s. This could be because the foreground galaxy positions are actually weakly lensed themselves - we (i.e. @drphilmarshall ) need to ask Stefan Hilbert whether this is the case or not.

[2015-07-12 11:20] tcollett commented on #49
It is indeed the case.
On 10 Jul 2015 21:27, "Spencer Everett" notifications@github.com wrote:

[2015-07-13 16:09] #42 closed, assigned to sweverett

[2015-07-13 16:09] #45 closed, assigned to sweverett

[2015-07-13 17:27] sweverett commented on #48
Hmm, the sampling of `Shearmap` sticks doesn't appear to be the problem. I commented out the sampling and let `Shearmap` plot a stick in every bin. Even without sampling, the following image was produced:
![misaligned_1](https://cloud.githubusercontent.com/assets/8742179/8655914/12b262ca-2949-11e5-9e3a-36e6868b9815.png)
Yet when I zoomed in on a cluster, the problem disappeared:
![misaligned_2](ht

[2015-07-13 17:42] drphilmarshall commented on #48
It seems to be a problem only with the x coordinates, not y. Maybe quiver
is doing some thing funny? Try writing your own "stick" plotting function
(as you need for the background galaxies anyway) and using that in this
demo instead.

On Mon, Jul 13, 2015 at 10:27 AM, Spencer Everett notifications@github.com
wrote:

[2015-07-13 17:44] #47 closed, assigned to sweverett

[2015-07-13 17:46] sweverett commented on #48
Good idea @drphilmarshall . I'll feel more comfortable using a plotting method we fully understand anyway.

[2015-07-13 18:08] drphilmarshall commented on #49
I thought so! Cool that the images of galaxies are being deflected as well as distorted/magnified. Our current approach to weakly lensing a set of background galaxies is to use the gamma and kappa given in the maps, and positions distributed over those maps. I wonder if we should also be deflecting them according to the same maps, to get them to appear in the right places _relative to the observed

[2015-07-15 21:38] #46 closed, assigned to sweverett

[2015-07-15 21:43] sweverett commented on #48
Now that the background galaxies are being lensed correctly, it was easy to see that this `Shearmap` issue is only an issue with `quiver()` and does not effect any of our calculations. As this distortion only comes up quite rarely, and is purely aesthetic, we will close this issue for now to focus on more important issues. We may reopen this issue later and implement the new stick plotting method

[2015-07-15 21:43] #48 closed, assigned to sweverett

[2015-07-15 21:53] sweverett opened #50 "Add shape and measurement noise to background catalogs"
Every background galaxy in a `BakcgroundCatalog` should have its image distorted with random measurement noise and a systematic shape noise. The contribution of each distortion should be an input in the `add_noise()` method of `BackgroundCatalog`.

[2015-07-15 21:58] sweverett opened #51 "Decide on a summary statistic for lensed galaxies and calculate it"
We need to decide whether we will first summarize the lensing of a `BackgroundCatalog` using an ellipticity correlation function or a galaxy-mass correlation function. We'll then need to decide whether we write our own method to calculate it, or use someone else's method. We also need to decide how to handle galaxies on the edge of the map.

[2015-07-15 22:01] sweverett opened #52 "Phil needs to give Spencer the full data set"
I only have the (0,0) maps and the (0,0) foreground galaxy catalog data. Moving forward, I'll need @drphilmarshall to send me the rest of the data so I can make sure the physical to wcs transformations are working and for calculating the summary statistics over larger data sets.

[2015-07-15 22:06] drphilmarshall commented on #52
Before, did we do this by http download from SLAC, or memory stick, in the end?

[2015-07-15 22:07] sweverett opened #53 "Upload more reference materials"
We should upload relevant papers to the Pangloss `docs` for calculating the ellipticity and galaxy-mass correlation functions (so I know what I'm doing!). If @drphilmarshall could upload the inference resource he mentioned as well, that would be great!

[2015-07-15 22:07] sweverett commented on #52
I believe we put it on a USB.

[2015-07-15 23:09] drphilmarshall commented on #51
I think we want both of these things! Started a conversation with the group
on Slack.

On Wed, Jul 15, 2015 at 2:58 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-15 23:11] drphilmarshall commented on #53
For correlation function calculation, Jarvis et al 2004 cited from [this
repo](https://github.com/rmjarvis/TreeCorr) should be a good start.

For Bayesian inference check out [David MacKay's excellent free textbook!](http://www.inference.phy.cam.ac.uk/mackay/itprnn/book.html)

On Wed, Jul 15, 2015 at 3:07 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-15 23:13] drphilmarshall commented on #51
When using Jarvis' [TreeCorr](https://github.com/rmjarvis/TreeCorr), @beckermr reports:

[2015-07-16 21:08] sweverett commented on #53
Thanks @drphilmarshall !

[2015-07-16 21:08] #53 closed, assigned to drphilmarshall

[2015-07-17 15:51] #50 closed, assigned to sweverett

[2015-07-19 15:00] #52 closed, assigned to drphilmarshall

[2015-07-19 16:11] tcollett commented on #52
Does the "full dataset" include the masses on each plane? If so, please can
I have it too?

On 19 July 2015 at 16:00, Phil Marshall notifications@github.com wrote:

[2015-07-20 16:38] drphilmarshall commented on #52
Hah - sadly not. We're just talking about all the galaxy catalogs for a single kappa map.

[2015-07-20 16:40] tcollett commented on #52
No worries. Any news on getting AllZeData

On 20 July 2015 at 17:38, Phil Marshall notifications@github.com wrote:

[2015-07-20 16:42] drphilmarshall commented on #51
As I understand it we're going with shear-shear correlation functions `xiplus` and `xicross` (once @sweverett has figured out how they are related to Jarvis' complex `xip` and `xim`), and then `xit` (the galaxy-galaxy lensing NG cross-correlation between some suitably-selected set of massive foreground objects and the background shapes).

[2015-07-20 16:44] drphilmarshall commented on #27
It'd be good to have a latex'ed version of the hierarchical inference plan in hand for when @sweverett finishes the initial model check, to help us focus on what our first baby step should be.

[2015-07-20 16:46] drphilmarshall opened #54 "Derive xicross from Jarvis xim and xip"
Hope this is going well, @sweverett! Looking fwd to seeing your plots in #51, once this is done and dusted.

[2015-07-21 01:42] sweverett commented on #54
The derivation of the relationship between Schneider's and Jarvis's correlation functions is given [here](https://github.com/drphilmarshall/Pangloss/blob/wl/doc/jarvis_schneider_proof.pdf). In short:
xi_+ = `xip`
xi_- = `xim`
xi_x = 1/2(`xim_im`-`xip_im`)

[2015-07-21 02:04] sweverett commented on #54
The xi_x is essentially zero for both the intrinsic and lensed correlation, which is to be expected.
![xi_cross1](https://cloud.githubusercontent.com/assets/8742179/8792800/381b10d8-2f21-11e5-9f2f-21b0369889cd.png)
For a magnitude reference, here is the same plot with the lensed xi_+ overlayed:
![xi_cross2](https://cloud.githubusercontent.com/assets/8742179/8792802/3c1c7e42-2f21-11e5-9737-1638bad7

[2015-07-21 02:05] #54 closed, assigned to sweverett

[2015-07-22 02:11] drphilmarshall opened #55 "Label plots with LaTeX"
I think that since we need the latex math symbols for the correlation plots, we should be consistent and _always_ use latex symbols in the plot labels. We have:
- [x] the x-axis label of the corr func plots
- [x] the catalog plot method(s)

[2015-07-22 02:19] drphilmarshall opened #56 "Start SULI report: correlation function notes, model check program description"
We need to start a write-up of your project, @sweverett, that will grow into your report for SULI. I suggest you take your latex doc containing the corr function derivation (which needs to be checked in if its not already) and extend it in the following ways:
- [ ] Add a brief explanation of what `\xi_{+}` and `\xi_{\times}` are, in terms of the ellipticities/shears of the  galaxies.
- [ ] Add a d

[2015-07-22 02:21] drphilmarshall opened #57 "Ellipticity sticks and shear quivers must be plotted to scale"
This was pointed out by Chris at the WL meeting. Mandeep also made the good suggestion of adding a scale bar labelled "$\epsilon = 0.05$" (or something) so we know what we're looking at. Maybe switching to always using sticks will solve the first part automatically?

[2015-07-22 02:24] drphilmarshall opened #58 "Shear in regions with strong lensing"
It looks to me as though we might not be dealing with the strong lensing regime yet, from the looks of the catalog sticks. If |g| > 1, we need to use a different lens equation - see Seitz & Schneider for the formula, but as I recall I think you just make the transformation g -> 1/g*

[2015-07-22 16:45] sweverett commented on #56
Good idea, but will I want to include the entire derivation in my SULI report? Maybe in an appendix?

[2015-07-22 17:00] drphilmarshall commented on #56
Appendix sounds like a good idea - and don't forget, keep it brief - just
enough to help someone else see how it works.

On Wed, Jul 22, 2015 at 9:45 AM, Spencer Everett notifications@github.com
wrote:

[2015-07-23 17:23] #55 closed, assigned to sweverett

[2015-07-24 02:31] sweverett commented on #57
The shear and ellipticity sticks now plot on the same scale (10% shear = 0.1 ellipticity) that automatically scales with the average of the two axis lengths. Each type of stick also has a scale bar in the bottom corners.
![scalebar](https://cloud.githubusercontent.com/assets/8742179/8866421/25f6a744-3171-11e5-9e02-b63402f044ea.png)

[2015-07-24 02:31] #57 closed, assigned to sweverett

[2015-07-24 03:22] sweverett commented on #51
Both correlation function types are coded up in their respective catalogs (shear-shear in `BackgroundCatalog`, galaxy-mass in `ForegroundCatalog`) and can be plotted using `plot_corr()` in `plotting.py`. Here are some examples:

### Shear-Shear:

![gg](https://cloud.githubusercontent.com/assets/8742179/8866992/73c38f3a-3178-11e5-9a6c-90e79fc991b2.png)

### Galaxy-Mass:

![ng](https://cloud.githubu

[2015-07-24 03:22] #51 closed, assigned to sweverett

[2015-07-24 18:57] sweverett commented on #58
Hmm. For strong lensing (|g|>1) Schneider gives
e^s = (1-ge_)/(e_-g_)
which rearranges to
e=(1+g(e^s)_)/(g_+(e^s)_)
When I apply the transformation g-> 1/g\* to the weak lensing equation, I haven't been able to get anything similar to this result.

[2015-07-24 19:01] tcollett commented on #58
You can't do strong lensing with these sims - they aren't high resolution
enough and there's no baryons. Also the Born approximation breaks down, so
the whole Pangloss procedure will be broken. I think it's reasonable to
neglect any lines of sight with shear > 0.5 and forget about strong lensing
entirely

On 24 July 2015 at 19:57, Spencer Everett notifications@github.com wrote:

[2015-07-24 19:09] sweverett commented on #58
Alright thanks, I'll add a check for that.

Also, is there really no way to render equations in the issues? I tried every latek and markdown combination I could think of, nothing worked.

[2015-07-24 19:18] tcollett commented on #58
I don't think you can. Best you can do is add a hyperlink to a page that
has latex support or to a png of the equation but that's very clunky.

On 24 July 2015 at 20:09, Spencer Everett notifications@github.com wrote:

[2015-07-24 22:23] drphilmarshall commented on #58
If @GitHub had supported MathJax, you could just type equations like $e=mc^2$ in latex and they would render as math, like on [math.stackexchange](http://math.stackexchange.com/editing-help) - but I guess we have to wait for this feature. @tcollett I started this issue because I saw what looked like some strongly distorted objects in @sweverett's mock background galaxy catalog visualizations - but

[2015-07-24 22:23] #58 closed, assigned to sweverett

[2015-07-24 22:56] tcollett commented on #58
You will get strong lensing in here, it's just much rarer than it should be.

We won't get beyond Born - it's too complicated computationally, and
completely unnecessary for the weak lensing limit

Apparently github used to support mathjax but it gave them 'headaches' so
it was removed.

On 24 July 2015 at 23:23, Phil Marshall notifications@github.com wrote:

[2015-07-24 23:05] drphilmarshall commented on #58
Gah!

On Fri, Jul 24, 2015 at 3:56 PM, tcollett notifications@github.com wrote:

[2015-07-27 21:45] sweverett opened #59 "Galaxy-Galaxy lensing: Background catalogs need to be given foreground catalogs"
The galaxy-galaxy lensing needs to be moved from `ForegroundCatalog` to `BackgroundCatalog` and be cross-correlating the foreground galaxy mass to the sheared ellipticicties of the lensed background galaxies.

Note: Once this is completed, we can apply the 45 degree offset test to check if xi_+ goes to 0 and xi_x becomes non-zero.

[2015-07-27 21:47] sweverett commented on #49
We decided: no deflection! So this one can be closed out.

[2015-07-27 21:47] #49 closed, assigned to drphilmarshall

[2015-07-27 21:49] tcollett commented on #49
Really? That's not what Stefan said (although maybe there are different
versions)

On 27 July 2015 at 22:47, Spencer Everett notifications@github.com wrote:

[2015-07-27 22:02] sweverett commented on #49
There is deflection - we've just decided not to worry about it for now.

[2015-07-27 22:03] sweverett opened #60 "Lens by Halos"
We need to be able to lens `BackgroundCatalog`'s by `ForegroundCatalog`'s as well as with `Kappamap`'s and `Shearmap`'s.

[2015-07-30 00:33] sweverett opened #61 "Test for mishapen (or empty) Lightcones"
All lightcones should have circular cross-sections. If we drill one that does not (or is empty), we need to flag it and potentially discard it.

[2015-07-30 16:33] sweverett commented on #60
`BackgroundCatalog`'s can now lens-by-map or lens-by-halos. The correlation function agreement isn't great (as expected), but here it is using just over 3,000 galaxies in the middle of the (0,0,0,0) field:
![halo_corr](https://cloud.githubusercontent.com/assets/8742179/8988977/11baeed4-369e-11e5-93b8-7d25d10d66e1.png)

[2015-07-30 16:36] sweverett commented on #60
Here is the same plot with the cross-component of the correlation function:
![halo_corr_cross](https://cloud.githubusercontent.com/assets/8742179/8989066/b54e43d4-369e-11e5-8b94-3b016d0cd233.png)

[2015-07-30 16:38] #60 closed, assigned to sweverett

[2015-07-30 17:11] drphilmarshall commented on #60
Excellent! And very interesting - not what I was expecting at all :-) Now it's really time to _think_. What's your interpretation of what's going on? Why do you think the halo model predicted shear-shear correlation function (SSCF) is _lower_ than the observed one (from the shape catalog you lensed with the ray-traced density maps)? What tests might you try next?

[2015-07-30 17:17] drphilmarshall opened #62 "WL: The Need for Speed"
Hey @sweverett now that you are lensing by halos, how much CPU time does it take to predict the shear applied to one background galaxy, using the Pangloss model? Are we still a ways off being able to do a 40x40arcmin field in 1-second? What's your plan for speeding up the calculation if we are?

[2015-07-30 17:17] sweverett commented on #60
I've been puzzling over that myself. An interesting first test may be to run the color-coded correlation demo with the halo lensing to see if there's any significant difference in the scatter plots other than the amplitude of the bananas. Doing these case studies on individual lenses may hint at what's going on.

[2015-07-30 17:21] drphilmarshall commented on #60
I guess the galaxy-galaxy lensing "ng" correlation function will tell us something similar, at higher S/N? Right now though we need some _hypotheses_ about what's happening, so that you can start making some simple changes to see which ones are part of a good explanation...

[2015-07-30 20:48] sweverett commented on #60
Here's the latest plot with 0.5 square degrees of coverage (just a tad over 40'x40') centered at the center of the (0,0,0,0) field. It used 17,640 background galaxies (and just about maxed out my 8 GB of RAM).
![corr_17640_2](https://cloud.githubusercontent.com/assets/8742179/8994642/8e25b134-36c1-11e5-9ad6-0e60f5610040.png)

[2015-07-30 22:17] sweverett commented on #60
Hmm. I was thinking that maybe the low power was due to a, strangely enough, _under_-estimate of the halo mass. I ran the lensing-by-halos for 0.16 square degrees centered in the (0,0,0,0) field at a lightcone radius of r=1,2, and 4 arcmin to get varying amount of mass (and thus kappa/gamma contribution).

For r = 1 arcmin:
![corr_5759_r1](https://cloud.githubusercontent.com/assets/8742179/8996578

[2015-07-30 22:46] drphilmarshall commented on #60
How long would 8 and 16 arcmin take? You've got a nice progression going on
there.

On Thu, Jul 30, 2015 at 3:17 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-30 22:51] sweverett commented on #62
Currently a shear prediction takes ~ 40+/-15 milliseconds, and a typical lightcone with radius of 2 arcmin has ~ 890+/-110 galaxies, so a single lensing even takes about 40-50 microseconds. This is about two orders of magnitude too slow to compute a 40x40 arcmin field in 1 second.

While we could partially solve this by distributing the lightcones across many cores, the better solution seems to be

[2015-07-30 22:54] sweverett commented on #60
The main problem at this point is RAM. I began to run out of the 8 GBs on my machine towards the end of the last plot and it slowed down considerably. I'll try doing the same test over a smaller region and more radii.

[2015-07-30 22:58] tcollett commented on #62
Most of these halos will have negligible contribution to the shear+kappa.
Maybe think about quick ways to discard the halos that are obviously
negligible based on distance and mass

On 30 July 2015 at 23:51, Spencer Everett notifications@github.com wrote:

[2015-07-31 00:28] sweverett commented on #60
I ran the same test over 0.04 deg^2 (1,440 galaxies). I could get up to r=8 arcmin, but my machine ran out of RAM when trying r=10 arcmin and above. At that point each lightcone had ~30,000 galaxies, so not that surprising. Here are the results:

r = 1 arcmin:
![corr_1440_r1](https://cloud.githubusercontent.com/assets/8742179/8998293/296ce572-36e0-11e5-8fb5-0fe7a3456167.png)
r = 2 arcmin:
![corr_1

[2015-07-31 02:44] drphilmarshall commented on #60
Looks like we might be plateau-ing...

On Thu, Jul 30, 2015 at 5:28 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-31 03:18] sweverett commented on #60
Do you think that we really need to make the lightcones this large (10,000-30,000 galaxies), or are we drawing the sample masses incorrectly? Or maybe the issue is with how we are combining the kappas/gammas? I'll try some different tests, but let me know if you think of an interesting one.

[2015-07-31 05:10] drphilmarshall commented on #60
Tom made a good suggestion in #62, I thought. Can you suggest a good
algorithm for reducing the number of lensing events we need to calculate
per lightcone?

On Thu, Jul 30, 2015 at 8:18 PM, Spencer Everett notifications@github.com
wrote:

[2015-07-31 20:47] sweverett opened #63 "Make and snap to grid directly after drilling"
We should imagine `BackgroundCatalog`'s to be single realizations of parameter sampling, meaning that each background object will have a decided halo mass and photometric redshift _before_ lensing. We would then account for the uncertainty in these values by realizing many `BackgroundCatalog`'s in the chosen region. This will allow us to `snapToGrid()` during the drilling process instead of during

[2015-07-31 21:33] sweverett opened #64 "Only calculate one set of kappa/gammas per lightcone"
We should add a kwarg for `lightcones` so that it can calculate and store only one set of kappa/gamma values (`add`, `keeton`, and `tom`), but have the default set to `all` so that this doesn't break old code. This will help keep the `lightcone` tables much smaller and keep its RAM usage low.

[2015-07-31 21:37] sweverett opened #65 "Void Correction"
We currently don't account for voids in the calculation of the convergence and shear at a point (as the mass density is definitely _not_ the average mass density of the universe at these locations). We need to think of how to account for this in `combineKappas()`, and whether this is contributing to the shear power problem we are currently facing.

[2015-07-31 21:44] sweverett opened #66 "Rank lensing "relevance" for all halos in a lightcone"
We need to create a metric for determining the importance of each foreground halo to the convergence/shear calculation in a given `lightcone`. As we will now have the physical distance, halo mass, and photometric redshift determined _before_ lensing, these will be very useful in determining importance. Once the importance is calculated, each `lightcone` should have an importance ranking column and

[2015-07-31 21:50] sweverett opened #67 "Delete unused foreground catalog columns in lightcones"
Currently, all columns in a `ForegroundCatalog`'s `galaxy` astropy table is copied to a `lightcone`'s `galaxy` table. However, most of this data is not needed for `lightcone`s and is using up valuable RAM. `drill_lightcones()` should only copy over the used data columns and then delete the `ForegroundCatalog` when finished.

[2015-07-31 21:57] sweverett opened #68 "Background galaxy catalogs should be able to bin themselves"
It could be useful for a `BackgroundCatalog` to be able to plot a map of itself with the average value of different quantities (ellipticity, shear, convergence, etc) plotted as a colormap over an inputted bin-size. This method should also be able to bin the `Kappamap`s and `Shearmap`s in the same way for direct comparison.

[2015-07-31 21:58] drphilmarshall commented on #63
Interested to see how much of a speed-up over the fiducial set-up this gives us! #62

[2015-07-31 21:59] drphilmarshall commented on #64
#62

[2015-07-31 22:02] drphilmarshall commented on #66
NB. the "importance" quantity must be _cheap_ to compute (#62)

[2015-07-31 22:03] drphilmarshall commented on #67
I guess this should speed things up too, especially when working on big fields at close to the RAM limit... #62

[2015-07-31 22:04] drphilmarshall commented on #68
Also visualizing cosmological density fields is the thing that will make us all famous.

[2015-07-31 22:05] drphilmarshall commented on #59
We mustn't forget this issue: the galaxy-galaxy lensing signal should help a lot with understanding why we are currently underestimating the shear...

[2015-07-31 22:07] sweverett commented on #68
Good point, forgot the most important part.

[2015-08-01 00:42] sweverett commented on #64
Made the changes to `lightcone` and `lens_by_map()`. Average CPU time per lightcone has dropped from 65 +/- 15 milliseconds to 38 +/- 12 milliseconds - not too bad for a quick change! This result is encouraging for the changes to be made in #67. Doing a RAM stress now.

[2015-08-01 00:57] sweverett commented on #64
Was able to run the drilling and lensing for 9,000 galaxies without issue, and the RAM usage was noticeably lower during `lens_by_halos()`. Drilling took 50% more RAM than lensing, this should be improved after #67.

[2015-08-01 00:57] #64 closed, assigned to sweverett

[2015-08-01 02:06] sweverett commented on #67
Commenting out the unused attribute `self.allgalaxies` in `lightcone` and only inputting a foreground catalog containing the 5 needed columns into `lightcone` makes a HUGE difference: 1.5 GB of RAM was used for the drilling of 9,000 galaxies instead of 4+ GB of RAM before. While this change doesn't speed up the lensing per `lightcone`, it allows us to run larger fields and test with larger `lightc

[2015-08-01 02:14] sweverett commented on #67
Oops! I take that back; the drilling process only took 300 MB of RAM with 9,000 galaxies!

[2015-08-01 02:56] #67 closed, assigned to sweverett

[2015-08-01 02:58] sweverett commented on #63
Moving the `defineSystem()`, `loadGrid()`, and `snapToGrid()` from the lensing to the drilling has decreased the CPU time per `lightcone` from 38 +/- 12 milliseconds to 28 +/- 2 milliseconds. An improvement for sure, but we're still far off from the two orders of magnitude improvement needed. Deciding how to handle #62 will likely be the determining factor for lensing speed.

[2015-08-01 02:58] #63 closed, assigned to sweverett

[2015-08-01 03:33] drphilmarshall commented on #63
Yesss! You're up to a factor of 3 speed up already - very encouraging :-)

[2015-08-01 04:59] sweverett commented on #59
Ok I think I got it this time. `BackgroundCatalogs` now have two options for `calculating_corr()`: The ellipticity-ellipticity (gg) correlation is an auto-correlation of the background ellipticities while the galaxy-mass (ng) correlation cross-correlates the position of the foreground galaxies with the ellipticities of the background galaxies.

Here is an example of the galaxy-galaxy correlation f

[2015-08-03 20:22] #59 closed, assigned to sweverett

[2015-08-03 20:39] sweverett opened #69 "Is lensing-by-halo working correctly?"
While trying to understand the difference in the actual vs pangloss-predicted shear power, I came across the following troubling plot:
![lens_map](https://cloud.githubusercontent.com/assets/8742179/9046938/2c933fc0-39e3-11e5-95fe-078290b52018.png)
where blue is the intrinsic ellipticity, green is the observed ellipticity, and purple is the pangloss-predicted ellipticity. I don't fully understand h

[2015-08-03 21:26] drphilmarshall commented on #69
Hmm. More investigation is needed, I think! Can you make a plot showing the
halo model kappa map with its shear field overlaid, please? This is issued
elsewhere under the name of "binning" (you can first make a densely, or
regularly-sampled background catalog, then lens it by halos, and then
export binned versions of the shear and convergence as WLmaps). Alignment
etc should be easier to understan

[2015-08-03 21:29] sweverett commented on #69
OK, I'll get to work on that!

[2015-08-03 22:35] sweverett commented on #69
The error appears to have been a bug in `lightcone` in which the `x` position of each foreground galaxy was not correctly converted from `nRA` to `RA`. Additionally, we accounted for the declination of the galaxy when calculating its angular separation from the center of the `lightcone`. The new alignment looks much better!
![lens_map2](https://cloud.githubusercontent.com/assets/8742179/9049270/01

[2015-08-03 22:35] #69 closed, assigned to sweverett

[2015-08-03 22:41] sweverett opened #70 "Background catalogs should be able to compare their different correlation functions"
We need to write a `compare_corr()` method in `BackgroundCatalog` that will compare two correlation function objects returned by `calculate_corr()` using a chi-squared test, and determine the significance of the discrepancy.

[2015-08-03 22:53] sweverett opened #71 "Check that galaxy-galaxy correlation is zero when rotated by 45 degrees"
Now that the galaxy-galaxy correlation is being correctly calculated in `BackgroundCatalog`, we should check that the correlation is indeed zero for both `lens_by_map()` and `lens_by_halos()` when each background galaxy is rotated by 45 degrees.

[2015-08-04 05:13] sweverett commented on #59
Very interesting result here @drphilmarshall . Calculating the ellipticity-ellipticity correlation function with ~6,000 galaxies still results in the usual under-prediction of shear power:
![cf1](https://cloud.githubusercontent.com/assets/8742179/9053631/6e839648-3a2c-11e5-815b-09865370505f.png)
However, the predicted galaxy-mass correlation function is _much_ better at predicting the observed cor

[2015-08-04 06:01] sweverett commented on #71
There is now a section in the `CalculatingCorr` demo that takes a `BackgroundCatalog` and adds 45 degrees to each type of phi (intrinsic, lensed-by-map, lensed-by-halo) and recalculates the galaxy-galaxy correlation function. Before the angle transformation, the galaxy-galaxy correlation was:

![ng_no45](https://cloud.githubusercontent.com/assets/8742179/9054191/6b360690-3a33-11e5-8514-daa1796556f

[2015-08-04 06:02] #71 closed, assigned to sweverett

[2015-08-04 17:43] sweverett commented on #70
I ran the `compare_corr()` method for the observed and predicted galaxy-galaxy correlation of the following plot:

![compare_corr](https://cloud.githubusercontent.com/assets/8742179/9067947/3f45f81c-3a95-11e5-8fbb-c791e81e79c0.png)

It returned a chi^2 value of 46.6 and n_sigma =1.29. I realize our model doesn't fit the observed data very well at large and small scales, but I was surprised by how

[2015-08-04 19:04] drphilmarshall commented on #70
I count 35 "data" points in each correlation function, so chisq = 46.6
being above 35 is good (it's a bad fit). There are 11 points at high \Delta
theta with very significantly different values though, so I woudl have
expected the chisq to come out higher than that (if two points are
separated by 10 times the combined error bar, they contribute 100 to
chisq). Might be worth double checking the chi

[2015-08-05 20:25] #70 closed, assigned to sweverett

[2015-08-05 23:43] sweverett commented on #66
I've implemented a (very) basic `importance` metric for the contribution of galaxies to the lensing in a `lightcone`. However, I've been struggling to understand why there haven't been any increases to performance even when only a small subset of galaxies are used.

After profiling the `lens_by_halos()` method, I found that roughly 1/3 of the runtime is during the `BMO1Ffunc()` and `BMO1Gfunc()` m

[2015-08-06 03:32] drphilmarshall commented on #66
Some possible obvious things:
- Is the number of halos in the lightcone really decreasing when you increase the importance threshold? You should see the correlation function power decrease and its error bars increase, as the number of foreground galaxies decreases.
- Has the number of halos per lightcone in the calculation always just been one?!
- Is the profiler output telling you the CPU time pe

[2015-08-06 04:03] sweverett commented on #66
- The correlation function is behaving exactly how I would expect; it approaches a noisy zero correlation in a roughly linear way as the mean number of galaxies per lightcone decreases.
- This isn't the problem due to the observation above. I've also done enough print variable checks to know that the right number of galaxies are being passed.
- The profiler output tells the CPU time per call of ea

[2015-08-06 04:19] drphilmarshall commented on #66
Well, the overhead associated with for loops in python is very high...Have
you tried looking at the CPU time scaling when there is just one lightcone?
(ie a backgroundcatalog with just one member! :-) )

On Wed, Aug 5, 2015 at 9:03 PM, Spencer Everett notifications@github.com
wrote:

[2015-08-06 04:19] sweverett commented on #66
That's exactly what I'm running right now! Update soon.

[2015-08-06 04:31] sweverett commented on #66
For 1 lightcone with r=2 arcmin (~1,000 galaxies), it took 0.46 s to run the entire `lens_by_halos()` method, with 0.31 s coming from the `F()` method in `lensing.py`.

Ran the same test but with r=16 arcmin (~60,000 galaxies). It took 0.32 s to run the method and 0.055 s coming from the `F()` method.

Does this make any remote sense to you?

[2015-08-06 04:31] drphilmarshall commented on #66
:-)

On Wed, Aug 5, 2015 at 9:19 PM, Spencer Everett notifications@github.com
wrote:

[2015-08-06 04:34] drphilmarshall commented on #66
No, but it bodes well for an all-sky survey! :-)

I wonder if there is something else going on, like your skype or browser
going crazy. Good to see if the numbers you just quoted (run times for 1
lightcone, with r = 2 and 16 arcmin) are repeatable, or if you are seeing
random scatter due to other factors.

On Wed, Aug 5, 2015 at 9:31 PM, Spencer Everett notifications@github.com
wrote:

[2015-08-06 05:16] sweverett commented on #66
At last, some sanity has returned! I repeated the same test (1 lightcone, r=2 arcmin and r=16 arcmin) 5 times before and after I killed all other significant processes on my machine. Here are the results:

### Before:
- r = 2:      Total time = 0.20 +/- 0.01 s,        `F()` time = 0.043 +/- 0.002 s
- r = 16:    Total time = 0.33 +/- 0.01 s,        `F()` time = 0.056 +/- 0.002 s

### After:
- r = 2

[2015-08-06 13:48] drphilmarshall commented on #66
Very interesting - nice work. I think we might conclude from this that
software design is going to be quite important in making this inference
work! We have some very _transparent_ prototype code, but refactoring to
reduce the logistics looks like it will pay off. What are the other lensing
function times, BTW?

On Wed, Aug 5, 2015 at 10:16 PM, Spencer Everett notifications@github.com
wrote:

[2015-08-06 13:55] drphilmarshall commented on #66
One more question: did you this test with the same `BackgroundCatalog` each
time? It'd be interesting if there was a difference in `lens_by_halos`
runtime when you call it a second time... Just checking...

On Thu, Aug 6, 2015 at 6:47 AM, Phil Marshall dr.phil.marshall@gmail.com
wrote:

[2015-08-06 17:51] sweverett commented on #66
I was running the test with a new `BackgroundCatalog` each time. I ran the same test with the `lens_by_halo()` method called on the same catalog 5 times and there was a random spread of about 1.1 s around the mean time.

[2015-08-06 18:04] sweverett opened #72 "Lensing function efficiency: look-up tables, memory leak"
Currently, most of the CPU time being used in `lens_by_halos()` is in the `lesning.py` methods like `BMO1Ffunc()` and `F()`. We should write a new method in `lensing.py` that also requires an inputted mask array to make the calculations for x > 1, x = 1, and x< 1 much more efficient.

[2015-08-06 18:21] beckermr commented on #72
What is actually slow about these methods? Is it the array manipulations or the special function calls, like arctanh, etc.?

[2015-08-06 18:30] sweverett commented on #72
We think it is all of the array searches. For example, a single `BMO1Ffunc()` call will result in 22 array searches (x[x>1], x[x!=1]), etc). There are 35 such searches in a single `makeKappas()` call.

[2015-08-06 19:24] drphilmarshall commented on #66
OK, good. How does the total run time (including drilling etc) compare
between starting a catalog and lensing by halos once, and starting a
catalog and lensing by halos N times? I'm trying to get a feel for how much
our likelihood calculation is going to cost: its roughly the lens_by_halos
time without the initial set up time.

On Thu, Aug 6, 2015 at 10:51 AM, Spencer Everett notifications@github.

[2015-08-06 19:27] drphilmarshall commented on #72
To be tested, though! It might be that python does those searches very very
fast. In general there seems to be a lot of book-keeping/memory allocation
going on, which we are also trying to reduce.

On Thu, Aug 6, 2015 at 11:30 AM, Spencer Everett notifications@github.com
wrote:

[2015-08-06 19:58] sweverett commented on #72
I switched from `cProfile` to a line-by-line profiler and analyzed `F()`. The function has has 4 method calls (`np.ones()`, `np.arccos()`, `np.arccosh()`, and `np.log()`), 7 array searches, and 10 math calls). 30.6% of the CPU time was spent on the 4 methods, while 26.4% of the CPU time was spent on searches, and 43.0% of the CPU time was spent on math calls (division, exponentiation, etc). We can

[2015-08-06 20:40] beckermr commented on #72
Ahh yes. I suspected the special function calls were a large-ish fraction of the computation. These can be speed up, at the cost of accuracy. See for example code here (https://code.google.com/p/fastapprox/). Given shape noise and other real-world effects, fast, approximate math calls might be OK. This sort of optimization is something to save for later however.

[2015-08-06 22:07] sweverett commented on #72
Thanks for the link @beckermr ! @drphilmarshall and I were just talking about doing something similar, as the approximation is likely OK for the reasons you noted. I'll try out `fastapprox` when comparing my `lensing.py` methods to the originals.

[2015-08-06 22:08] sweverett commented on #68
Switched this issue to you @drphilmarshall. Have fun making mass maps!

[2015-08-06 22:10] drphilmarshall commented on #72
In the end, and given that the special functions and math calls together
add up to nearly 75% of the runtime, I'm thinking we might be better off
replacing the BMO function calls with look up tables - certainly worth
experimenting with this (I don't know how fast python can do look-ups). In
any case, the searches will need reducing, so this could be the place to
start. Interested to see how it all

[2015-08-06 22:17] drphilmarshall commented on #72
PS. I've seen `scipy.interpolate.interp1d()` used to good effect in making look-up tables in the past, see this [blog post](http://www.shocksolution.com/2008/12/a-lookup-table-for-fast-python-math/) for an example of how to do it, and a note that `scipy.interpolate.UnivariateSpline()` is "much faster". Looks pretty easy to implement!

[2015-08-06 22:21] drphilmarshall commented on #68
Will do! :-)

On Thu, Aug 6, 2015 at 3:08 PM, Spencer Everett notifications@github.com
wrote:

[2015-08-06 22:48] beckermr commented on #72
Lookup tables are indeed a good idea @drphilmarshall!

[2015-08-07 16:10] drphilmarshall commented on #68
PS. I am working on `demos/LensByHalos.nb`, so best keep off that notebook for now to avoid conflicts. Thanks!

[2015-08-07 19:56] sweverett commented on #72
Before I construct the lookup table, @drphilmarshall and I had discussed rewriting `F()` using a mask for the `x` values so that the calculation for `z` could be made in one step rather than with 3 separate searches. After many attempts, I can only get the new method CPU runtime to be comparable to the old `F()` runtime.

However, working with the methods did lead to some ideas for cleaning up `BM

[2015-08-08 07:35] tcollett commented on #72
2 things:

1: The searches can be avoided entirely by using functions that can take
and return complex arguments (but they are probably slower overall so it
most likely won't help)

2: One useful feature for the lookup table is that the halos are self
similar. I don't think you should need to have the mass in the table as
it's just a rescaling of distance from the centre and a multiplication.

On

[2015-08-14 16:09] drphilmarshall opened #74 "Wiki needs to summarize summer 2015 progress"
I made a start on this:

https://github.com/drphilmarshall/Pangloss/wiki/Inferring-the-Mass-Map-of-the-Observable-Universe-from-10-Billion-Galaxies

@sweverett can you please add the links to two suitably tidied up demos, please? If you have one on the speed-ups you could also elevate that from "Future Plans" into "Summer 2015" :-)

[2015-08-14 17:05] drphilmarshall opened #75 "timeit: units, garbage collection"
I read with interest at https://docs.python.org/2/library/timeit.html that a) the unit of time that the `timeit` default timer returns may not be millisec and b) `timeit` may turn off garbage collection while it runs! I think this means that a) we need to read the manual carefully before drawing conclusions about absolute run times and b) timing needs to be an option that is off by default but tha

[2015-08-14 18:33] sweverett commented on #62
Closing this, because I'm working on various speed-ups in #72

[2015-08-14 18:33] #62 closed, assigned to sweverett

[2015-08-14 22:24] drphilmarshall opened #76 "SULI report: discussion on scaling up the computation"
Write this based on notes from talking with @djbard - thanks Debbie, it was great to see you today! :-)

[2015-08-14 22:28] drphilmarshall commented on #56
Hey @sweverett can you check in your latex please? You can use a sensible filename like `suli-report-swe.tex' for our internal use, but the Makefile should generate a PDF file with the name required by the SULI program officer. Feel free to assign me with the Makefile editing once you have checked in!

[2015-08-14 22:32] drphilmarshall opened #77 "SULI report: check in figures"
@sweverett if you already know which figures are going in your report, you can check them in to a folder called `doc/figs-swe`. You'll need to do this so that we can compile your report!

[2015-08-14 23:12] sweverett commented on #77
I have a few that I know I'll likely use - I'll upload them now and update the folder as I go.

[2015-08-14 23:23] #77 closed, assigned to sweverett

[2015-08-14 23:35] sweverett commented on #56
The report `suli-report-swe`has been checked in @drphilmarshall ! (just don't expect to see much yet!)

[2015-08-14 23:37] sweverett opened #78 "Add Spencer's SULI report to the Makefile"
Now that the SULI report has been added to the `doc` folder, @drphilmarshall should add it to the `Makefile`.

[2015-08-15 00:04] #78 closed, assigned to drphilmarshall

[2015-08-17 06:17] sweverett opened #79 "SULI Report: Abstract"
I need an abstract for the SULI report. The intended audience is another SULI intern; an undergraduate physics or science major with some level of research experience. This is what I came up with for my first draft:

"As dark matter does not absorb or emit light, its distribution in the universe must be inferred through indirect effects such as the gravitational lensing of distant galaxies. While

[2015-08-17 06:21] sweverett opened #80 "SULI Report: Outline"
My SULI report `suli-report-swe` has a mostly-filled outline at the moment in `doc`. If anyone has any comments on the current plan for content, structure, or anything else - please let me know! Calling the `Makefile` in `doc` should compile it now.

[2015-08-17 06:21] sweverett commented on #56
This issue is no longer relevant to the state of the write-up; I'm going to close it and open more specific issues.

[2015-08-17 06:21] #56 closed, assigned to sweverett

[2015-08-17 22:54] sweverett opened #81 "SULI Report"
Now that an abstract and outline have been made, I will be tracking updates to the report here. The most current version of the paper can be compiled by running the `Makefile` in the `doc` directory of the `wl` branch. Feel free to make any comments or suggestions at any time! The final draft will be finished by the end of Thursday.

First draft:
- [x] Abstract
- [x] Introduction
- [x] Theory
- [x

[2015-08-17 22:57] sweverett commented on #80
The outline is incorporated into the main document and being updated as I write new sections. #81 is now the relevant issue, closing this one.

[2015-08-17 22:57] #80 closed, assigned to sweverett

[2015-08-17 23:12] drphilmarshall opened #82 "Correct file name for SULI report PDF?"
At the moment, the Makefile generates `DELIVERABLE-SULI-REPORT-EVERETT.pdf` - this needs changing (in the Makefile!) to the program-required file name.

[2015-08-17 23:14] sweverett commented on #82
I just checked - the file name needs to be `FinalPaper_SEverett`. Updating it now!

[2015-08-17 23:16] #82 closed, assigned to sweverett

[2015-08-17 23:17] drphilmarshall commented on #79
Good start. You can say that you have implemented a model for all the mass along the line of sight that is composed of a large number of individual halos associated with galaxies, and have (in this paper) checked it for accuracy using the ray-traced Millennium Simulation. You shoudl make clear that this a best-case test, since we assume knowledge of each halo mass. Finally: you shoudl quantify you

[2015-08-17 23:22] sweverett commented on #79
Thanks for the feedback! I'll check some numbers later today and incorporate your comments.

By the way - DOE just changed the due date from Friday night to Thursday around 5:00. It'll be a busy couple days!

[2015-08-17 23:28] drphilmarshall commented on #79
Good! That means you get Friday to tidy up code :-)

On Mon, Aug 17, 2015 at 4:22 PM, Spencer Everett notifications@github.com
wrote:

[2015-08-17 23:32] sweverett commented on #79
That's the plan! I'll be adding comments, refining demos, and finishing up a few small issues both on Friday and in the upcoming weeks before we start the official post-SULI cleanup.

[2015-08-20 04:27] drphilmarshall commented on #81
Looking good, @sweverett! Quick comments:
- Don't forget to include your correlation function illustration plots (as they are from your talks) in the appendix
- You need a title!
- When you have a complete draft, read it _out loud_ to yourself to catch bugs in the text
- Great to see the "progression" plot! :-) Legend needs fixing to include different radii though - and what do you mean by "these

[2015-08-20 04:44] sweverett commented on #81
Thanks for looking it over!
- I'm struggling with how to do this. I think the plots are very helpful (and nice original work), but I found out there's a maximum word count that I'm already right on the limit of. There's also a limit to the number of appendix pages you can have and I definitely can't fit both explanations of the plots _and_ the correlation function derivation. Do you think the plot

[2015-08-20 04:53] sweverett commented on #81
Also - ignore figure placement for now. Not being picky until all the text is finished!

[2015-08-20 05:30] drphilmarshall commented on #81
I think you can shorten the derivations somewhat, to make room for the
figures in the appendix. Also, when you read through the text, you might be
able to tighten up the wording quite a bit: the introduction can be quite a
bit shorter, and the discussion you can make more concise too I think. You
can be more terse because your primary audience is other scientists - the
DoE readers will expect this

[2015-08-20 05:39] sweverett commented on #79
Here's a second attempt at the abstract:

"As dark matter does not absorb or emit light, its distribution in the universe must be inferred through indirect effects such as the gravitational lensing of distant galaxies. While most sources are only weakly lensed, the systematic alignment of background galaxies around a foreground lens can constrain the mass of the lens which is largely in the form o

[2015-08-20 08:16] drphilmarshall commented on #79
Nice. That 117% is hard to parse, and over-precise. I'd go with "underpredict by a factor of 2.1" (or whatever it is) instead. 23.2% is also too many sig figs - it looks as though only 1 sf or maybe 2 is all that's justified given the size of the error bars. Also, can you express 0.09 sq deg as x by y sq arcmin instead please? Its a bit more information. You coudl also say "0.09 sq deg (X x X sq a

[2015-08-20 08:17] drphilmarshall opened #83 "SULI report: figures need checking in"
I get compile errors without it!

[2015-08-20 08:19] sweverett commented on #83
Oops! Thought I had added that one. Does it work now?

[2015-08-20 08:25] sweverett commented on #79
Good suggestions! I'll incorporate those changes now.

[2015-08-20 08:28] drphilmarshall commented on #83
Yes and no: now you need to check in `figs-swe/xip_colormap.png` and `figs-swe/xix_colormap.png` :-)

[2015-08-20 08:32] sweverett commented on #83
Done! I think that's all of them - I'll try to keep up better on my end.

[2015-08-20 08:39] drphilmarshall commented on #83
Great - compilation success. Its looking very good now - very nice job. Will catch up with you again tomorrow - good luck finishing it off!

[2015-08-20 08:39] #83 closed, assigned to sweverett

[2015-08-20 21:46] sweverett opened #84 "SULI Report: Title"
The report is almost finished! Barring any major revisions from @drphilmarshall or @rhw, only minor edits or formatting will be made before I turn it in to DOE. All it needs is a title!

Some ideas so far:
- Predicting Weak Lensing Statistics from Halo Mass Reconstructions
- Predicting Weak Lensing Statistics from Halo Mass Reconstructions in the Millennium Simulation
- Predicting Weak Lensing Sta

[2015-08-20 22:51] #79 closed, assigned to sweverett

[2015-08-20 22:52] sweverett commented on #76
The discussion is included in the latest draft of the SULI report. #81

[2015-08-20 22:52] #76 closed, assigned to sweverett

[2015-08-21 21:05] sweverett commented on #81
The report is turned in! Thanks for all your help @drphilmarshall!

[2015-08-21 21:05] #81 closed, assigned to sweverett

[2015-08-21 21:05] #84 closed, assigned to sweverett

[2015-08-22 00:02] sweverett commented on #61
End of SULI status: Not much has been done with this issue, as all summer tests were done in in a field completely contained within the (0,0,0,0) catalog. The only action taking place currently is printing a message if the lightcone is empty.

[2015-08-22 00:02] sweverett commented on #65
End of SULI status: Not much work has been done on this issue. I tried a few simple corrections for kappa, but we need to discuss how this correction would impact the shear and how to implement it.

[2015-08-22 00:02] sweverett commented on #66
End of SULI status: All of the infrastructure needed to implement an importance metric is already in place in `background.py`, but we need to change the importance calculation to the dimensionless m/r^3 weighting that @drphilmarshall and I discussed. I'll likely have time to finish this issue once I've updated all the demos.

[2015-08-22 00:06] sweverett commented on #72
End of SULI status: The changes to `lensing.py` and `background.py` have been made to make the lensing predictions with a lookup table, but there is a memory leak that i haven't been able to debug yet. I will try to fix this during the post-SULI cleanup.

[2015-08-24 16:11] drphilmarshall commented on #74
Hey Spencer! Nice job on the final report :-) I just checked it in for posterity, and linked to it from [the wiki](https://github.com/drphilmarshall/Pangloss/wiki/Inferring-the-Mass-Map-of-the-Observable-Universe-from-10-Billion-Galaxies) so that it's easy for people to find.

[2015-08-24 16:11] #74 closed, assigned to sweverett

[2015-08-24 16:12] drphilmarshall commented on #75
I think the memory leak is still with us, no? In which case, @sweverett you can reassign the milestone of this issue to "Post-SULI Clean-up" and then - da da-da dah! - close the "End of SULI Program" milestone :-)

[2015-08-24 16:22] sweverett commented on #75
Yes, the memory leak is most definitely still with us. I'll reassign now. And it'll be tough - but I'll close the milestone! I'm on a mini-vacation with my family right now but will start some of the post-SULI cleanup when I get back.

[2015-08-24 16:25] sweverett commented on #74
Thanks! The wiki looks great. I'll make the demos look a bit nicer in the next few days when I have a chance. And since you linked my github profile, I'll finally add a picture!

[2016-03-21 22:45] sweverett commented on #72
Back to work! I fixed the bug in `LensingTable()` and now  `makeKappas()` can make kappa predictions using lookup tables instead of explicit calculations. There was no memory leak; just an error in the output of the table lookup functions. Using ~10,000 samples for the table, there is no significant difference between the predicted shear-shear and galaxy-galaxy correlation functions, but time savi

[2016-03-21 22:55] sweverett opened #85 "Parallelization of `lens_by_halos`"
We can greatly speedup the `lens_by_halos` calculation by parallelizing the loop over lightcones. I can start by distributing the task over the 8 cores in my own machine, and plan on eventually using KIPAC clusters.

[2016-03-22 04:14] drphilmarshall opened #86 "Running Pangloss at SLAC"
There's a few things to do here:
- [ ] @sweverett Make sure your login works, then git clone Pangloss to SLAC account, in NFS space (make a "work" directory and then symlink it to your home directory, which is on afs and tiny).
- [ ] @sweverett attempt to run python scripts. We may need to ask around to get the right python version etc
- [ ] @drphilmarshall Find out which computers are best to use

[2016-03-22 04:21] drphilmarshall commented on #85
Hey @sweverett check out this [introduction to simple parallel processing in `python` with `multiprocessing`](https://github.com/AstroHackWeek/AstroHackWeek2015/tree/master/hacks/profile_parallel). Beyond this, Matt and Yao can advise on tutorial materials...

[2016-03-22 04:24] drphilmarshall commented on #65
[McCully et al 2016](http://arxiv.org/abs/1601.05417) make a void/smooth component correction - we might be able to just follow their lead (bearing in mind that our problem is simpler because we don't yet have a strong lens plan to focus on). What do you think?

[2016-03-22 04:30] drphilmarshall opened #87 "Weak lensing likelihood notes"
@sweverett as you start and organize a `tex` file for your thesis, you'll need a (sub)section called "The Weak Lensing Likelihood" in which we will need to explain our assumptions in writing down and using our ${\rm Pr}(\epsilon | g, \epsilon_{\rm s})$. Let's start from the form I used in my thesis and see how far we get - it'd be good if we didn't need to do anything more difficult than this (lik

[2016-03-22 04:32] drphilmarshall opened #88 "Simplest possible WL mass mapping PGM"
This is in my notes somewhere (and also our SDSI proposal) but needs revisiting, and drawing properly with `daft`. I can make a start and then hand off the code.

[2016-03-22 04:35] drphilmarshall commented on #65
While this is currently our best bet for why the halo model shear correlation function amplitude is low compared to the ray-traced one, let's not stop trying to think of other reasons for the shortfall, too...

[2016-03-22 04:39] drphilmarshall opened #89 "Strong lensing correction"
One possible origin of the excess in galaxy-galaxy lensing power seen at sub-20 arcsecond scales is that we are not predicting galaxy shapes correctly in the "strong lensing" regions where  $|g| > 1$.  In `combineKappas`, whenever the magnitude of the total reduced shear rises above unity, we need to replace $g$ with $1 / g^{*}$. (The reference is one of the Seitz and Schneider papers.) Interested

[2016-03-22 04:41] drphilmarshall commented on #27
The need for this growing: see #88 and #87.

[2016-03-24 16:48] sweverett commented on #66
I implemented a relevance weighting scheme of M/R^3 that was suggested by Curtis et al. in http://arxiv.org/abs/1601.05417, using a characteristic mass of `M=10^12` solar masses and characteristic distance of `R=10 kpc`. Unsurprisingly, most weights are tightly clustered around 0. Here's an example of the distribution of the mean and max weights for 1,440 lightcones with 4,800+/-100 foreground gal

[2016-03-24 18:15] drphilmarshall commented on #66
Excellent! This is a great result: I was expecting to need ~100s of halos per lightcone, so this is at least a factor of 4 speed-up over my expectations. Is 23 halos per light cone consistent with McCully et al? Or do they need more because the strong lenses are more sensitive, somehow?

Also: what's the current wall clock time per light cone (including overheads etc)? Can you add a new bar or two

[2016-03-24 19:10] sweverett commented on #66
Low relevance limits converge around 18+-8 ms per lightcone. This is now mostly overhead; at least half of the time spent in `lens_by_halos()` is writing Astropy table columns while only ~5% is spent in using the look-up table.

Also worth noting: Currently `lens_by_halos()` resets the lightcone galaxy catalog to only contain those that meet the relevance limit. This is great on my end, as the mem

[2016-03-25 16:09] drphilmarshall commented on #66
Ye-es - but it's interesting that you are limited by table-writing. That
suggests that when we start doing inference (which involves repeatedly
varying parameter values and evaluating their likelihoods) we'll want to
work with tables that are as small as possible (or no tables at all, just
numpy arrays).

On Thu, Mar 24, 2016 at 12:10 PM, Spencer Everett notifications@github.com
wrote:

[2016-04-05 15:57] drphilmarshall commented on #66
Before you close this issue, can you report on the fraction of the correlation function signals that are captured by using the N most relevant halos, please? Does N = 23 predict the N=1000 correlation function with 1% accuracy? 2%?

[2016-04-13 19:50] sweverett commented on #75
To address your issues:
-The default unit for `timeit` is seconds not milliseconds, but I was aware of this when reporting numbers to you and in my report.
-I added a `time` option in `background.py` to turn on/off time recording similar to `vb`. It is set to `True` right now since it is helpful for keeping track how code changes alter the runtime.
-`timeit` does turn off garbage collection! But t

[2016-04-13 19:50] #75 closed, assigned to sweverett

[2016-04-13 20:06] sweverett commented on #66
Here are some results:

Using around 22+/-5 relevant halos per lightcone, the shear-shear and galaxy-mass correlation functions are noticeably lower than the prediction using all halos at most scales; scales lower than 1 arcsec average ~20% percent error. The normalized RMSE for each is also stated on the plots:
![gg_rel_compare_22](https://cloud.githubusercontent.com/assets/8742179/14507488/6771f

[2016-04-13 20:08] #66 closed, assigned to sweverett

[2016-04-13 20:12] drphilmarshall commented on #75
Great! Thanks Spencer.

On Wed, Apr 13, 2016 at 12:50 PM, Spencer Everett notifications@github.com
wrote:

[2016-04-13 20:34] sweverett commented on #72
Took some final data: With all other programs closed, I had the following results:

**Without Lookup-Table:** Mean CPU time per lightcone: 26+/-10 ms
**With Lookup-Table:** Mean CPU time per lightcone: 14+/-10 ms

Not a bad improvement! As mentioned above, the lensing table is pretty densely sampled so there is no significant difference in predicted gg or ng correlation.

[2016-04-13 20:34] #72 closed, assigned to sweverett

[2016-04-13 20:56] drphilmarshall commented on #66
Nice plots! With 60 halos per light cone, the difference between blue and
purple curves is well within the treecorr errors, so those percentage
errors may not be significant (although I'm not sure I believe the treecorr
errors). The mean absolute percentage error might be a bit sensitive to
large residuals - the median could be a better statistic to quote.

On Wed, Apr 13, 2016 at 1:08 PM, Spencer

[2016-04-13 20:59] drphilmarshall commented on #72
Excellent, thanks Spencer. When you were doing the relevance analysis, how
did the with-lookup-table CPU time per lightcone vary with the number of
halos per lightcone? I'd love to see a small table or quick plot.

On Wed, Apr 13, 2016 at 1:34 PM, Spencer Everett notifications@github.com
wrote:

[2016-04-13 21:11] sweverett commented on #72
Good idea - I'll post a plot here soon! I did a single run and with a lightcone radius of 2 arcmin (~500 galaxies) and there wasn't much of a difference. I'll try varying the radius as well.

[2016-04-27 21:32] drphilmarshall opened #91 "Is our halo mass definition correct? How about our source redshift?"
@sjhilbert replies:

@sweverett can you please double check that we are interpreting the catalog halo masses correctly?

Stefan, you might like to read Spencer's [SULI report](https://github.com/drphilmarshall/Pangloss/raw/wl/doc/FinalPaper_SEverett.pdf) to see the problem we are worrying about: ellipticity correlation function predicted by our manipulation of the halos in your catalog is under pr

[2016-04-28 01:09] sweverett commented on #91
I checked `example.config` and we are currently using the subhalo mass `M_subhalo` in Stefan's foreground catalogs for the individual galaxy halo masses, which is good news. I'll continue to look into the halo mass definition, but the absence of the main halo masses may be a part of our missing shear power in the ellipticity-ellipticity correlation function.

[2016-04-28 01:15] drphilmarshall commented on #91
Right! Select a halo, find all its sub-halos, and see if any of them have
subhalo mass = halo mass. If none of them do, then we'll need to add in the
halo as well as all the sub-halos, at the position of the central galaxy.
(Which galaxy is the central one would be TBD.) Any that do have subhalo
mass = halo mass will be the centrals (by definition), and if that's the
case then our lack of shear co

[2016-04-28 18:39] sweverett commented on #91
Hmm, some interesting results. For the foreground catalog (0,0,0,0) in `Pangloss/data`, there are 3256 galaxies with subhalo masses equal to the halo mass (~1.1%). However, there are 25,973 galaxies that have normal halo mass but 0 subhalo mass (~9%). I"ll read more of Stefan's paper, but right now it's not clear to me whether the central galaxies are those with subhalo mass = halo mass (what I wa

[2016-04-29 00:39] drphilmarshall commented on #91
Whoah. Now we have two puzzles! What does halo mass = subhalo mass mean,
and what does zero subhalo mass mean? cc @sjhilbert

On Thu, Apr 28, 2016 at 11:39 AM, Spencer Everett notifications@github.com
wrote:

[2016-04-29 07:32] sjhilbert commented on #91
from readme.txt:

List of currently stored properties:

GalID               unique ID of source galaxy of galaxy image
HaloID              unique ID of main halo (can be galaxy, group, or cluster halo) the source galaxy is located in
SubhaloID           unique ID of subhalo the galaxy is centre of (if there is a subhalo)
Type                0 = central galaxy of the main halo, 1 = non-central gala

[2016-05-02 16:22] sweverett commented on #91
Thanks @sjhilbert ! That clears up quite a bit, and encourages the need for #65.

[2016-05-03 17:58] sweverett commented on #65
I've implemented the smooth-component correction, but there are clearly some issues. Here are the surface and volume densities for the universe (black), halos (green), and smooth-component (blue) at each redshift slice for a randomly chosen lightcone:
![volume_densities](https://cloud.githubusercontent.com/assets/8742179/14993022/7b7948b4-112e-11e6-80f1-cd3c19bd7e1c.png)
![surface_densities](https

[2016-05-04 16:01] drphilmarshall commented on #91
From Stefan's explanation it seems like central galaxies (Type 0) should be given both a halo _and_ subhalo, with listed masses, and that Type 2 galaxies should be ignored. This is all just while checking this 50% claim, though: when we move to inference just based on the magnitudes (or "equivalently," observed photoz's and stellar masses), we'll need to (slightly wrongly) just assign a halo/subha

[2016-05-04 16:13] drphilmarshall commented on #65
Hmm - your top plot indeed looks to be at odds with @sjhilbert's "50% of the mass in the universe is not in halos claim" - you're finding 90-99%... Are you including the halos as well as the subhalos ( #91 )?

With the surface mass density, isn't Sigma_s = rho_s dR, where dR is the line of sight slice thickness? I think this will be a proper line of sight distance given your other choices, right?

[2016-05-05 18:36] sjhilbert commented on #91
no.
pick whether you want to use halos only or subhalos only.

[2016-05-05 19:59] sjhilbert commented on #65
More about the 50% claim: I have not checked this myself. It likely is only true if you go to the resolution limit for halos in the simulation, ie. include everything with M \geq 10^9 M_solar.

Have you looked at
http://adsabs.harvard.edu/abs/2015MNRAS.454..708P
?

About the surface mass densities: You need to settle on a shell thickness to integrate over to get from 3D densities (e.g. the mean de

[2016-05-05 21:56] drphilmarshall commented on #65
Thanks Stefan - I remember that paper coming out but it went past quickly,
and I was focused on their use of statistics at the time... It seems like
we could indeed be confirming their result - and that we must scour that
paper for thoughts on extending ou rmodel. Spencer, can you please read
this paper carefully and extract its relevant wisdom? Thanks!

I agree about the density orders of magnitu

[2016-05-05 23:48] drphilmarshall opened #92 "Sample of realistic strong lens sightlines"
Listening to @tcollett 's talk just now, here at the STRIDES/H0LiCOW meeting, it occurred to me that at some point soon we are going to want to be able to generate mock strong lens sightlines, in order to investigate their  local environment (as well as their line-of-sight) mass distributions. I think we can only do this for non-central galaxies (because we cannot easily remove the effect of that

[2016-05-06 00:17] drphilmarshall commented on #91
Oh! Sorry - my mistake. Sounds like just using the subhalo masses is the
way to go.

Quick question: do the subhalo masses of all the galaxies in a group add up
to that group's halo mass?

On Thu, May 5, 2016 at 11:36 AM, Stefan Hilbert notifications@github.com
wrote:

[2016-05-06 00:23] rhw commented on #91
No, definitely not.  Most of the mass is in the host.

[2016-05-06 00:52] sweverett commented on #65
Thanks for the comments everyone – it helped me find the bug! Here are are the updated, and much more reasonable, density plots:
![surface_densities4](https://cloud.githubusercontent.com/assets/8742179/15061403/9870ab92-12fa-11e6-8712-51d0bcb5505d.png)
![volume_densities4](https://cloud.githubusercontent.com/assets/8742179/15061406/a0241b3a-12fa-11e6-81a6-15b12abace2d.png)
Since such a low percent

[2016-05-06 02:35] sjhilbert commented on #91
I suspect, the subhalo masses (including the "main subhalo" of the central galaxy) + unbound mass (according to subfind) should add up to the FoF mass, which is similar to the halo mass M_200crit. I am not sure what the fraction of unbound mass in the FoF  groups is (but I guess it's not very large), and how close M_FoF and M_200crit are. So it may be good to compare the sum of subhalo masses and

[2016-05-06 04:45] drphilmarshall commented on #91
@sjhilbert OK, that makes sense: we should indeed check the sums of subhalo masses. Just browsing the catalog, for example, I find this funny little group:

[code]

Seven galaxies with unique IDs and stellar masses. One is type 0 and lives in a "subhalo"  of mass 1.01514e+13. Its "halo" is listed as having slightly higher mass, 1.15535e+13 - so I guess `subfind` found almost all the mass that the

[2016-05-06 05:25] drphilmarshall commented on #65
Good! Agree this is looking promising. I'm a bit confused as to why your 2pt e-e correlation function gets so much better when you move from 6.0 arcmin lightcones (your first plot) and 8.0 arcmin lightcones. Could you check these results, and edit the comment above if there is a problem, please?

If your last plot is correct, it's nice that we now only seem to be missing shear at separations large

[2016-05-06 16:13] sjhilbert commented on #91
It is based on tracking the particle, that was the most bound when there was still a subhalo. But that particle's orbit does not decay enough any more after the subhalo is dissolved (not enough friction any more), so the more recent Garching models put the type-2 galaxies somewhere between the halo center and the once-most-bound particle position, so that the satellite galaxy will end up in the ha

[2016-05-06 16:26] drphilmarshall commented on #91
Probably the latter, I think: we must fit the lensing data! But all this is
a good reminder that as we develop our model, we must keep in mind that the
representation of the simulation output as a catalog of halos, subhalos and
galaxies is itself an approximation...

On Fri, May 6, 2016 at 9:13 AM, Stefan Hilbert notifications@github.com
wrote:

[2016-05-07 21:48] sweverett commented on #65
I did a few more runs to check the previous results. The previous 8 arcmin plot may have been an especially good run, but we're still seeing a big improvement:
![gg_r81440_2](https://cloud.githubusercontent.com/assets/8742179/15094694/75cfdb52-1472-11e6-9ae3-b0d6b99828e4.png)
![gg_r81440_3](https://cloud.githubusercontent.com/assets/8742179/15094695/75d1e654-1472-11e6-9960-bb6ae0715980.png)
I ran

[2016-05-07 22:17] sweverett opened #93 "How long does a likelihood calculation take?"
While we are not quite ready to start on inference, it would be useful to report an estimate for the time it takes to make a single likelihood calculation (with and without drilling) for my thesis presentation to discuss its future feasibility. Without worrying too much about the result yet, I can implement the likelihood measure given on page 61 of @drphilmarshall 's [thesis](http://www.slac.stan

[2016-05-07 22:35] sweverett opened #94 "What percentage of mass is in halos?"
Once #68 is finished, we should subtract our predicted `kappamap` (with and without smooth-component correction) with Stefan's to gauge how much of the mass in the Millennium Simulation we are missing by only using halos. We should also use the difference in maps to see if there is a better way to model the extra mass than with the smooth component correction.

[2016-05-07 22:38] sweverett commented on #94
Also - we should compare our result with [this paper](http://arxiv.org/pdf/1503.04324v1.pdf) by Pace et al.

[2016-05-07 22:58] #65 closed, assigned to sweverett

[2016-05-08 18:48] drphilmarshall commented on #65
Good. What is the difference between these "runs"? Are they different pointings on the sky, or just different noise realizations of the background galaxies? Hopefully it's the former! When you are able to make convergence maps from the halo model ( #68 ) you should look at the correlation functions and the convergence difference map together, to diagnose where the most important missing mass is.

[2016-05-08 19:06] drphilmarshall commented on #93
Actually it would be instructive to know the value of the chi-squared that
is one of the terms of the log likelihood: if you use the same intrinisc
ellipticity distribution width in the chi-sq calculation as in the
generation of the mock data, you can use the chi-sq to quantify how bad the
model is. The number of degrees of freedom, Ndof, is the number of data
points (2 x the number of background

[2016-05-08 19:06] drphilmarshall commented on #94
Right: we can provide illustrations to complement Pace et al's findings,
after we check them with the MS data we have.

On Sat, May 7, 2016 at 3:38 PM, Spencer Everett notifications@github.com
wrote:

[2016-05-10 03:04] sweverett commented on #65
The former! The plots I post are almost always generated through `lens_compare.py`, which generates a new background catalog each time with randomly chosen source positions within the chosen domain.

Thanks for the suggestion - should have some interesting plots soon!

[2016-05-11 05:51] sweverett opened #95 "Kappamaps have stopped plotting!"
While a lot of progress has been made on #68 - the `kappamaps` have stopped plotting! This is odd as no change was made to the `plot()` method of `kappamap` or `wlmap`, and `shearmaps` still plot correctly. Hard to make binned `kappamaps` if the Hilbert maps won't plot!

[2016-05-11 16:03] drphilmarshall commented on #95
Sounds like some sort of stupid matplotlib error, or perhaps a rogue map rescaling/offset. Should be straightforward to diagnose and fix!

[2016-05-17 22:28] #91 closed, assigned to sweverett

[2016-05-17 22:33] drphilmarshall opened #96 "Visualize missing mass"
I'd suggest a three panel plot: ray traced kappa, halo model-predicted kappa, difference, to illustrate the quantitative findings coming from #94 - what do you think?

[2016-05-20 03:25] sweverett commented on #95
`kappamaps` and `shearmaps` are plotting correctly once again! While switching to `astropy` plots and transformations fixed most of the issues, there was also a deeply hidden bug in `read_in_fits_data()` that has been with us the whole time which caused problems in specific plotting scenarios. Everything seems back to normal!

[2016-05-20 03:25] #95 closed, assigned to sweverett

[2016-05-20 03:40] drphilmarshall commented on #95
Excellent! Well spotted. Onwards to the mass map differencing!

On Thu, May 19, 2016 at 8:25 PM, Spencer Everett notifications@github.com
wrote:

[2016-05-24 22:11] sweverett commented on #96
This can now be done with the `compare_binned_maps()` method in `plotting.py`, given two binned `kappamaps` that result from running `bin_to_map()` using lens-by-map and lens-by-halo ellipticities.

Here's an example:
![kappamaps2](https://cloud.githubusercontent.com/assets/8742179/15521521/e383a130-21d1-11e6-9096-274c52003bdc.png)
where the left is a binned Hilbert map, the center is the predicte

[2016-05-24 22:11] #96 closed, assigned to sweverett

[2016-05-24 22:18] sweverett commented on #68
While more features could be added at a later time, background catalogs can now bin their convergence and shear values into corresponding `kappamap`s and `shearmap`s with a desired `binsize`. The lensing values binned can be from either `lens_by_maps()` or `lens_by_halos()`. Saving the figure directly to `data/binned_maps` is an option. Here are two examples, the first from `lensed=map` and the se

[2016-05-24 22:18] #68 closed, assigned to sweverett

[2016-05-24 22:24] sweverett commented on #94
Here's the result of #96: (left is a binned Hilbert map, center is a binned lens-by-halos map, right is difference)
![kappamap_plots](https://cloud.githubusercontent.com/assets/8742179/15521877/f2a66150-21d3-11e6-88ff-a810ae8a4712.png)
While we are generally predicting individual features, we clearly are over-predicting the convergence overall. I thought this might be a result of the smooth-compon

[2016-05-25 07:54] tcollett commented on #94
This figure is so cool and really useful! Great job.

It looks like our halo profiles aren't quite right. We seem to always over subtract in the centres of halos. What about playing around with the profiles to see if the differences can be shrunk with slightly different halo profiles? Maybe a first step is to keep the same profile but try decreasing the halo concentration.

[2016-06-01 23:21] drphilmarshall opened #97 "Add thesis plots"
I'm getting some errors when trying to compile and read your thesis draft - can you add the thesis plots please? This is all in `bin_to_maps` of course - this is where the most up to date tex file is.

[code]

Thanks!

[2016-06-01 23:49] sweverett commented on #97
Oops! Try now :)

[2016-06-02 00:54] drphilmarshall commented on #97
Good, `make thesis` now works again. Thanks!

[2016-06-02 00:54] #97 closed, assigned to sweverett

[2016-06-02 01:21] drphilmarshall opened #98 "Early comments on draft thesis"
Looks like you are on track. Below are some comments and questions you might expect to get from an examiner like me!
- The lensing convergence maps should only show over- and under-density relative to the cosmological mean. Did you subtract off the mean density before computing the maps in Fig 13? This might explain the gray background. Can you explain why _not_ subtracting the mean density in thi

[2016-06-02 14:59] sweverett commented on #98
Thanks for taking a look and making comments!
- I did not subtract off the mean density before computing the maps in Figure 13. Using the definition of convergence that I see in the literature (projected surface mass density / critical mass density) I don't see how what I'm doing would be accounting for extra mass, but if Stefan's maps have kappa=0 correspond to mean density then clearly I am. I g

[2016-06-03 15:49] drphilmarshall commented on #98
The problem is that the cosmological distances we use assume a homogeneous universe with mean density equal to Omega_m rho_crit. If we fill up our mass model so that it has mean density equal to Omega_m rho_crit, then when we predict lensing effects we'll have precisely 2 times as much mass in the model as we should have. I think we need to subtract off the global mean density Omega_m rho_crit in

[2016-06-06 19:46] #98 closed, assigned to sweverett

[2016-10-10 22:34] drphilmarshall opened #99 "Notebook index ordering, likelihood demo"
Hi @sweverett ! Meet David Thomas ( @davidthomas5412 ), a Stanford masters student who will be working on Pangloss this quarter. We're going to try some simple sampling and optimization experiments, building on your thesis work. To get started, David is working through your notebooks, and adding more documentation. I made an index notebook, with an ordered list of demos he should work through, [he

[2016-10-10 23:35] drphilmarshall commented on #87
Closed by Spencer's thesis!

[2016-10-10 23:35] #87 closed, assigned to sweverett

[2016-10-10 23:36] drphilmarshall commented on #93
Closed by Spencer's thesis!

[2016-10-10 23:36] #93 closed, assigned to sweverett

[2016-10-10 23:37] drphilmarshall commented on #94
Good suggestion from Tom here: re-titling and punting to the future.

[2016-10-10 23:48] drphilmarshall opened #100 "Simple Monte Carlo"
@davidthomas5412 Let's start with the simplest possible inference: simple Monte Carlo. We'll need the ForegroundCatalog to be able to `set_prior` and then `draw_halo_masses`, and then we'll need to `compute_likelihood` (using the the function @sweverett already implemented). This will give us `N_samples * (N_halos + 1)` numbers (if we keep the concentrations fixed for now): this is going to get in

[2016-10-20 16:33] davidthomas5412 opened #102 "Numpy docstrings"
Convert docstrings to numpy docstrings throughout codebase.

https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#class-docstring

[2016-10-20 17:17] davidthomas5412 opened #103 "Python Data Fetching"
Problem:
1) Fetch.csh requires C shell
2) Have to fetch data for demos 'by hand'
3) Have long paths, and very wide lines in editor, throughout the codebase, ex:

S = pangloss.Shearmap([PANGLOSS_DIR+'/data/GGL_los_8_0_0_N_4096_ang_4_rays_to_plane_37_f.gamma_1',PANGLOSS_DIR+'/data/GGL_los_8_0_0_N_4096_ang_4_rays_to_plane_37_f.gamma_2'],FITS=False)

Proposed Solution:
Write static python class that h

[2016-10-20 21:23] sweverett commented on #99
Hi @davidthomas5412 ! Glad to have you working on Pangloss with us! (And sorry for the late response - I initially didn't see this issue in the flood of new Pangloss emails :) )

As I was catching up to speed, I unfortunately realized there were a few commits on the `bin_to_maps` branch that never got pushed once my thesis was finished. The changes were mostly on finishing up the log-likelihood ca

[2016-10-20 21:58] drphilmarshall commented on #99
Hi Spencer! Thanks for the commits (being merged in to `wl` in #104 ) - and for the likelihood demo, too. That'll be most useful for making sure we are on the right track. Much appreciated!

The `astropy` failures: we're wondering about switching to `pandas` in any case, so we may postpone making all fixes until that point. Interested to hear any opinions you have on that.

[2016-10-21 00:56] davidthomas5412 opened #105 "setup.py, requirements.txt, and pip"
Problem:
1) users have to clone project from github as opposed to pip install
2) users have to set PANGLOSS_DIR environment variable

Solution:
1) make a setup.py
2) make a requirements.txt
3) register with pip

[2016-10-21 01:03] davidthomas5412 opened #106 "continuous integration with travis"
Problem
1) we don't know if we are committing bugs

Solution
1) make travis account
2) integrate travis with pangloss github project - [steps](https://github.com/mbonaci/mbo-storm/wiki/Integrate-Travis-CI-with-your-GitHub-repo)
3) make travis.yml file - [example](https://github.com/tholoien/empiriciSN/blob/master/.travis.yml)

[2016-10-21 01:05] drphilmarshall commented on #105
Good points. Let's adopt files from the https://github.com/tholoien/empiriciSN project, and add the following advice to the README:

[code]

[2016-10-21 01:15] drphilmarshall commented on #106
@davidthomas5412 In your email is an invitation from GitHub to be a "collaborator" on this repo: as soon as you accept that invitation, you will be able to assign this issue to me :-)

[2016-10-24 01:22] davidthomas5412 commented on #105
Merged into issue #103 https://github.com/davidthomas5412/Pangloss/pull/2

[2016-10-24 01:23] #105 closed, assigned to davidthomas5412

[2016-10-25 16:11] drphilmarshall commented on #103
Looks like this is coming along well over in your fork, David! Feel free to open the pull request into `drphilmarshall/wl` any time.

[2016-10-25 16:14] drphilmarshall commented on #100
@davidthomas5412 The notebook that addresses this issue should contain a PGM describing what we are doing: let's use that diagram to be clear about what assumptions we are making (eg about the halo concentrations!). If you took a photo of the group meeting whiteboard, feel free to use that (you can make `<img href="">` calls from markdown cells. Otherwise, issue me with making the simplest possibl

[2016-10-25 18:22] drphilmarshall commented on #103
Good plan. I do this in my StatisticalMethods class all the time, you
shoudl be able to find starter code in the "examples" notebooks there, You
can also find it in the SLTimer project that I work on, in the
DarkEnergyScienceCollaboration GitHub repo.

On Thu, Oct 20, 2016 at 10:17 AM, David Thomas notifications@github.com
wrote:

[2016-10-27 17:45] davidthomas5412 opened #107 "python 3 compatibility"
Problem:
Our code is python 2 compatible but parts may break if a user runs with python 3. While python 3 adoption has been slow, it is best practice to use the **future** module for projects so that they support both.

Solution:
http://python-future.org/

[2016-10-27 18:53] davidthomas5412 opened #109 "fix foreground and overlay plotting"
Problem:
1) Foreground plotting is broken [see here](https://github.com/drphilmarshall/Pangloss/blob/wl/demos/ShearPrediction.ipynb)
2) Overlay plotting capability is broken. When we try to overlay plots they get overwritten instead.

Solution:
1) Move to more object oriented usage of matplotlib.
2) Fix bugs one at a time, with the goal of reproducing intended behavior of kappa, shear, background,

[2016-10-27 19:17] davidthomas5412 opened #110 "astropy -> pandas"
Problem:
We make heavy use of the astropy datastructures (table, column). It is not as widely used, documented, or as fast as pandas. For fits files we can use pyfits, so there should not be a strong reason for us to continue using astropy data structures.

Solution:
Replace astropy data structures with pandas equivalents. Confirm everything still works.

[2016-10-27 21:05] drphilmarshall commented on #110
I approve this solution. Hopefully the switch will not be onerous!

On Thu, Oct 27, 2016 at 12:17 PM, David Thomas notifications@github.com
wrote:

[2016-10-28 01:09] davidthomas5412 opened #111 "dead notebooks and scripts"
Problem:
I don't believe the notebooks that are not on the index list will be used. I also think that once we have a likelihood notebook, then the scripts in tests will also probably no longer be used. It can be a nuisance to continue to support notebooks and scripts as we make api changes that impact them when they will no longer be used. It is also more source code to search through when looking

[2016-10-28 15:25] davidthomas5412 commented on #102
Probably worth keeping a consistent documentation style throughout the main module. Right now there is code from @drphilmarshall around the time of original paper which has one style (lots of commented lines to separate methods etc, a docstring that is not quite numpydocstring style) and code from @sweverett that has a slightly different style (documentation but not quite numpydocstring style). If

[2016-10-28 15:53] drphilmarshall commented on #111
I'd be in favor of making an "attic" folder and moving old stuff into
there. My rule about "attic"s is: "don't look in the attic!" But sometimes
its useful to go digging through them to find a snippet you need. A minimal
set of good demo notebooks sounds like a good plan to me.

On Thu, Oct 27, 2016 at 6:09 PM, David Thomas notifications@github.com
wrote:

[2016-10-28 16:03] drphilmarshall commented on #102
Do it. Today numpy docstrings, tomorrow Sphinx-generated html displayed on
readthedocs to the world.

[2016-10-28 21:09] drphilmarshall commented on #111
OK, @davidthomas5412 pointed out that an attic folder still clogs up searching etc.

@sweverett we have made a "release" labelled "Everett 2016" to tag the repo with all your senior thesis work: this now frees up David to streamline the repo. We can just look at the released version to find your old demo notebooks and scripts:

https://github.com/drphilmarshall/Pangloss/releases/tag/Everett2016

@

[2016-11-07 01:09] davidthomas5412 opened #113 "Inference Semantics"
The code for comparing the 'true' ray traced reduced shear (g_i_true) of a background galaxy to its Pangloss predicted ellipticity (e_i_predicted) still confuses me.

1) How I think it should be:
 - The method lens_by_map extracts g_i_true from the Hilbert et al ray traced pangloss.KAPPA_FILE, pangloss.GAMMA_1_FILE, pangloss.GAMMA_2_FILE.
 - We compute g_i_predicted and then use it to compute e_i_

[2016-11-07 15:05] drphilmarshall commented on #113
Good: the names of things are important. There are several different
comparisons that we might want to do.

A. Compare shapes of background galaxies lensed by a realistic density
field (as captured by the MS maps) with the shapes of background galaxies
lensed by a set of halos extracted from that density field (ie each with
known Mhalo). This is the test that Spencer was doing, and answers the
que

[2016-11-11 23:15] davidthomas5412 commented on #113
The names in my original post are fictitious and exist solely for the purpose of simplifying communication. My confusion was not with names, but rather that the 'calculate_log_likelihood' method, which currently computes neither A nor B. A simple way to see this is that the 'calculate_log_likelihood' method only ever makes a comparison with variables computed with lens_by_halos or lens_by_map but